// ==========================================================================
//    Author's custom styles
// ==========================================================================
html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    min-width: 32rem;
    margin: 0 auto;
    color: #272525;
    background: #f6f6f6;
    min-height: 100%;
}

.main-wrapper {
    background: #f6f6f6;
}

.dropdown-menu {
    &:after {
        content: '';
        position: absolute;
        top: -10px;
        right: 10px;
        height: 0;
        width: 0;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #fff transparent;
    }
    &:before {
        content: '';
        position: absolute;
        top: -12px;
        right: 9px;
        height: 0;
        width: 0;
        border-width: 6px;
        border-style: solid;
        border-color: transparent transparent #d9d9d9 transparent;
    }
}

a {
    &:focus {
        outline: none;
    }
}

.panel-title {
    font-size: inherit;
}

.close {
    outline: none;
}

.form-horizontal .control-label {
    font-weight: normal;
    text-align: left;
}

.btn {
    text-transform: uppercase;
    font-weight: normal;
}

.btn-primary {
    &:hover {
        background: lighten($brand-primary, 25%)
    }
}

.modal-title {
    color: #929395;
    font-weight: 400;
    font-size: initial;
    text-transform: uppercase;
}

.modal-header {
    .modal__close {
        margin: -15px -10px 0 0;
    }
}

.ngdialog.ngdialog-theme-default {
    .ngdialog-content {
        background: transparent;
        padding: 0;
        font-size: 1em;
    }
    .ngdialog-close:before {
        color: #929395;
        right: 17px;
        top: 17px;
    }
    &.ng-modal-lg .ngdialog-content {
        width: $modal-lg;
    }
    &.ng-modal-md .ngdialog-content {
        width: $modal-md;
    }
    &.ng-modal-sm .ngdialog-content {
        width: $modal-sm;
    }
    .modal-header {
        padding-right: 35px;
    }
}

.ngdialog.ngdialog-theme-default.ng-modal-ml-460 .ngdialog-content {
  width: 460px; }

.tabpanel-grid .btn-group_horizontal .btn {
    margin-bottom: 18px; }


// custom-select
.bootstrap-select {
    > .btn {
        font-size: 14px;
        line-height: 1.42857;
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 13px;
        text-transform: none;
        color: $input-color;
        border: 1px solid $input-border;
        border-radius: $input-border-radius;
        background-color: $input-bg;
        background-image: none;
        @include box-shadow(none);
        @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
        &:focus {
            outline: none !important;
            border-color: #66afe9;
            outline: 0;
            @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6));
        }
    }
    &.open {
        > .btn {
            border-color: $input-border-focus;
            background-color: $input-bg;
            background-image: none;
            @include box-shadow(none);
        }
        .dropdown-menu {
            > li {
                > a {
                    &:hover,
                    &:focus {
                        color: #fff;
                        outline: none;
                        background-color: $brand-info;
                        @include box-shadow(none);
                    }
                }
            }
        }
    }
}

.has-error {
    .bootstrap-select {
        > .btn {
            border-color: $brand-danger;
        }
        &:focus {
            border-color: $brand-danger;
            @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffa48d);

        }
    }
}

.has-success {
    .bootstrap-select {
        > .btn {
            border-color: $brand-success;
            &:focus {
                border-color: $brand-success;
                @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #93d0af);
            }
        }
    }
}


.bootstrap-select > .btn:focus {
    outline: none !important;
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

 .has-error .bootstrap-select > .btn:focus {
     border-color: #f33000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffa48d;
 }
 .has-success .bootstrap-select > .btn:focus {
     border-color: #3d8d61;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #93d0af;
 }

.server-error__list {
    padding: 0;
    list-style: none;
}

.hr-margin-bottom {
    margin-top: 0;
}

// end custom-select

.progress-default {
    @include box-shadow(none);
    background: #fff;
    border: 1px solid #e0e1e3;
    height: 22px;
}

.form-icon-group {
    position: relative;
    .form-control {
        padding-right: 40px;
    }
}

.form-icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 40px;
    top: 50%;
    font-size: 20px;
    line-height: 20px;
    vertical-align: middle;
    margin-top: -10px;
    color: #000;
    text-align: center;
    pointer-events: none;
}

.progress-bar-default {
    @include box-shadow(none);
    background: #e0e1e3;
}

.has-error .control-label {
    color: inherit;
}

.form-group-error {
    .help-blok__message {
        display: none;
        padding: 5px 0;
        color: $brand-danger;
        .glyphicon-remove {
            background-color: $brand-danger;
            color: #fff;
            margin-right: 5px;
            @include border-radius(20px);
            padding: 2px;
        }
    }
    &.has-form-group-error {
        .help-blok__message {
            display: block;
        }
    }
}

.validation-icon {
    margin-right: 5px;
    vertical-align: middle;
}

.form-group-message {
    .help-blok__message {
        display: none;
        padding: 5px 0;
        vertical-align: bottom;
        font-size: 14px;
    }
    &.has-form-group-success {
        .help-blok__message {
            color: $brand-success;
            display: block;
        }
    }
}

//##################
// header
//##################
.main-header {
    background: #fff;
    padding: 5px 0;
    border-bottom: 1px solid #e2e4e7;
    // position: relative;
    // z-index: 3;
}

.sb-toggle-left {
    width: 30px;
    padding: 5px;
    display: block;
    float: left;
    margin-top: 11px;
    margin-right: 10px;
}

.navicon-line {
    display: block;
    height: 3px;
    background: #000;
    margin-bottom: 3px;
}

.logo {
    display: inline-block;
    max-width: 100%;
}

.logo-wrapper {
    margin: 0;
    width: 90px;
    float: left;
    padding: 0;
    line-height: 1;
}

.need-accoun__link {
    color: #272525;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    display: inline-block;
}

.btn__sign-up {
    margin-left: 20px;
}

.authorisation__menu_log-out {
    float: right;
    padding: 10px 0;
    text-align: right;
}

.btn__sign-up {
    text-transform: uppercase;
}

.authorisation__menu_authorised {
    float: right;
    padding: 5px 0;
}

.user-alerts-wr {
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 18px;
}

.user-alerts__dropdown {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    .i-bell_empty {
        position: relative;
        text-decoration: none;
        &:after {
            content: "\e60a";
            font-size: 16px;
            color: #fff;
            position: absolute;
            left: 1px;
            top: 1px;
        }
    }
}

.user-alerts__menu {
    right: 50%;
    margin-right: -100px;
    left: inherit;
    padding: 10px;
    min-width: 200px;
    margin-top: 15px;
    .close {
        margin-top: -13px;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        margin-bottom: -1px;
        text-decoration: none;
        padding: 13px 10px;
        display: block;
        line-height: 18px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        &:hover {
            border-bottom-color: #e2e4e7;
            border-top-color: #e2e4e7;
            background-color: #F2F2F2;
        }
    }
}

[class*="alert__massage"] {
    padding-left: 25px;
}

.alert__massage-error {
    background: url(../img/error.png) left top no-repeat;
}

.alert__massage-edded {
    background: url(../img/edded.png) left top no-repeat;
}

.alert__massage-approved {
    background: url(../img/approved.png) left top no-repeat;
}

.notifications_dd {
    color: #929395;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 10px;
}

.alert-count {
    background-color: $brand-info;
    padding: 4px 7px;
    vertical-align: middle;
}

.user-avatar-wr {
    position: relative;
    float: left;
    margin-right: 5px;
}

.user-avatar {
    height: 35px;
    width: 35px;
    overflow: hidden;
    display: block;
    img {
        max-width: 100%;
        height: auto;
    }
}

.user-name {
    display: none;
}

.user-dropdown {
    float: left;
    margin-top: 5px;
    padding: 7px 8px;
    color: #231F20;
    font-size: 12px;
    font-weight: 400;
}

.user-dropdown .user-dropdown__btn {
    border: none;
    text-decoration: none;
    text-transform: uppercase;
}

.user-dropdown__menu {
    left: inherit;
    right: 0;
}

.user-dropdown__carret {
    font-size: 7px;
}

.user-status {
    min-width: 16px;
    height: 16px;
    background-color: #EFA73E;
    border: 1px solid #FFF;
    @include border-radius(16px);
    display: inline-block;
    vertical-align: middle;
}

.user-status_error {
    background: $brand-danger;
}

.user-status_new-reg {
    background: $brand-success;
}

.user-status_default {
    background: $gray-light;
}

.user-status_dd {
    margin-right: 8px;
}

.user-status_avatar {
    position: absolute;
    top: -5px;
    right: -5px;
    position: absolute;
    top: -5px;
    right: -5px;
}

.user-dropdown__menu {
    min-width: 210px;
    margin-top: 10px;
    a {
        text-decoration: none;
        padding: 8px 20px;
        display: block;
        line-height: 1;
        &:hover {
            background-color: #F2F2F2;
        }
    }
    ul {
        padding: 10px 0;
        margin: 0;
        list-style: none;
    }
    .icon {
        margin-right: 10px;
        font-size: 18px;
        vertical-align: text-bottom;
    }
}

.dropdown__user-status {
    border-bottom: 1px solid #ddd;
}

//##################
// main-block
//##################
.js-minHt {
    min-height: 150px;
}

.js .js-minHt {
    min-height: 1000px;
}

.main-content {
    > .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.main-container {
    margin: 0 15px;
}

.page-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 20px;
    padding-top: 10px;
}

.one__main-stats {
    border-top: 1px solid #e0e1e3;
    &:first-child {
        border-top: none;
    }
}

.main-counter__number {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-counter__text {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

.main-counter__icon-wr {
    float: right;
    font-size: 34px;
    color: #CCCDD0;
    margin-left: 5px;
}

.main-counter__text-wr {
    overflow: hidden;
}

.min-section {
    margin-bottom: 20px;
}

.min-section__br-bg {
    border: 1px solid #e0e1e3;
    border-radius: 2px;
    // overflow: hidden;
    background: #fff;
}

.info-block {
    border-left: 5px solid $brand-info;
    .close {
        margin-top: -10px;
    }
}

.min-section__header {
    padding: 0 0 20px;
    &.min-section__header_black {
        padding: 20px;
        margin: -20px -20px 0;
        .min-section__title {
            color: #fff;
        }
        background: #3a3b41;
    }
}

.min-section__header-title {
    color: #000;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #000;
    padding: 7px 0 3px;
    margin: 0;
    display: inline-block;
    font-size: initial;
    text-transform: uppercase;
}

.min-section__title {
    color: #929395;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
}

.min-section__footer-link {
    @extend .min-section__title;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.min-section__pd {
    padding: 20px;
}

.min-section__list {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
        padding: 15px 0;
        border-top: 1px solid #e0e1e3;
        &:first-child {
            border: none;
        }
        .first-list__icon {
            width: 20px;
            text-align: center;
            display: inline-block;
            margin-right: 10px;
            vertical-align: middle;
        }
    }
}

.i-more_m-l {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

//##################
// account
//##################
.tabpanel_inner-width {
    max-width: 620px;
}

.form-group__some-controls {
    margin-bottom: 0;
}

.form-group__inner,
.form-group {
    margin-bottom: $form-group-margin-bottom;
    &.has-feedback {
        margin-bottom: 10px;
    }
    .control-label {
        color: inherit;
    }
}

.account__top-allert {
    max-width: 350px;
    margin: 15px auto;
    @include border-radius(4px);
    @include box-shadow(0 0 9.9px 0.1px rgba(0, 0, 0, 0.1));
    .icon {
        vertical-align: middle;
        margin-right: 10px;
    }
}

.account-edit__form-wr {
    max-width: 800px;
}

.phone-without-btn .phone-input-wr {
    width: 100%;
}

.phone-without-btn .phone-btn-wr {
    display: none;
}

.register_splash .phone-input-wr {
    width: 100%;
    padding-right: 10px;
}

.register_splash .phone-btn-wr {
    display: none;
}

.btn-register-wr {
    display: none !important;
}

.register_splash .btn-register-wr {
    display: block !important;
}

.btn-group-editing {
    display: inline-block;
}

.btn-edit-group {
    margin-left: 15px;
    display: inline-block;
}

.btn__search-company {
    height: 34px;
}

.min-list-info {
    list-style: none;
    padding: 0;
    margin: 0;
}

.min-list-info__item {
    margin-bottom: 5px;
    line-height: 1.3em;
    @extend .clearfix;
}

.min-list-info__label {
    float: left;
    width: 120px;
}

.min-list-info__value {
    margin-left: 130px;
    span {
        opacity: 0.6;
        color: #3A3B41;
        font-size: 13px;
        font-weight: 400;
        margin-left: 10px;
    }
}

.editable-form-group {
    .btn-group-editing {
        display: inline-block;
        @include transition(all .2s linear);
    }
    .js-btn-data-edit {
        display: none;
    }
    &.inactive {
        .btn-group-editing {
            display: none;
            @include transition(all .2s linear);
        }
        .js-btn-data-edit {
            display: inline-block;
        }
        .form-control {
            border: transparent;
            @include box-shadow(none);
            color: #999;
            background: transparent;
            cursor: text;
            @include transition(all .2s linear);
            @include appearance(none);
            line-height: inherit;
            padding-top: 0;
            padding-bottom: 0;
            padding-right: 25px;
            &::-ms-expand {
                display: none;
            }
        }
    }
}

.section_btn-bottomm-right-wr {
    position: relative;
}

.btn_bottom-right {
    float: right;
    min-width: 120px;
}

@media (min-width: $screen-lg) {
    .btn_bottom-right {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

//##################
// sign-up-block
//##################
.center-min-block__header-icon {
    margin-right: 15px;
}

.center-sm-b {
    max-width: 560px;
}

.center-min-block__header-title_text {
    padding-top: 17px;
    display: block;
    font-weight: normal;
    font-size: 19px;
}

.center-min-block__header-icon_wr {
    line-height: 50px;
}

.center-min-block__header {
    margin-bottom: 20px;
    overflow: hidden;
}

.center-min-block__header-title {
    color: #272525;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    //float: left;
    min-height: 50px;
}

.center-min-block {
    margin: 30px auto;
    background-color: #FFF;
    border: 1px solid #E0E1E3;
    @include border-radius(2px);
    @include box-shadow(0 0 9.9px 0.1px rgba(0, 0, 0, 0.1));
}

.center-min-block__body {
    padding: 30px;
    color: #272525;
    font-weight: 400;
    line-height: 20px;
    @extend .clearfix;
}

.left-form-block__wr {
    // overflow: hidden;
    position: relative;
}

.right-form-caption-block__wr {
    margin: 0 -30px 20px;
    padding: 30px;
    background-color: #3A3B41;
}

.center-md-bl {
    max-width: 950px;
}

.center-lg-bl {
    max-width: 1000px;
}

.center-rel-wr__for-right-hint {
    position: relative;
    z-index: 2;
}

.bottom-help-block {
    color: #ABABAE;
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    overflow: hidden;
}

.help-block {
    // color: #ABABAE;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    overflow: hidden;
    &.help-blok__message {
        font-size: 12px;
        line-height: 16px;
        padding-top: 3px;
        margin: 0;
    }
}

.bottom-help-block__link {
    color: inherit;
    text-decoration: underline;
}

.sign-up-caption {
    position: relative;
    z-index: 2;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    p {
        margin-bottom: 8px;
        color: #fff;
    }
    a {
        color: #00AEEF;
        font-weight: 400;
    }
    ul {
        margin: 5px 0;
        padding: 0;
        list-style: none;
        li {
            position: relative;
            padding-left: 15px;
            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 5px;
                display: inline-block;
                width: 5px;
                height: 8px;
                background-color: #00AEEF;
            }
        }
    }
}

.sign-up-caption__title {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 25px;
}

.sign-up__form-btn_wr {
    float: right;
    margin-left: 15px;
}

.sign-up__dear-text-block {
    overflow: hidden;
}

.dear-text__title {
    font-size: 14px;
    font-weight: 700;
}

.i-download {
    &:before {
        content: '';
        background: url(../img/upload-img.png) center center no-repeat;
        display: inline-block;
        width: 17px;
        height: 20px;
    }
}

.btn-form-bottom {
    padding-top: 20px;
}

//##################
// Companies
//##################
.list_style {
    list-style: none;
    padding: 0;
    padding: 0;
    > li {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #E2E2E3;
        &:last-child {
            border-bottom: none;
        }
    }
}

.item__title {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 10px;
    span {
        @include opacity(0.6);
        color: #3A3B41;
        font-size: 13px;
        font-weight: 400;
        margin-left: 10px;
    }
}

.item-title__id {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
}

.item-title__text,
.item__text {
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

.item__text_min {
    font-size: 14px;
    color: lighten(#3A3B41, 20%)
}

.item__text_mg-top {
    margin-top: 5px;
}

a.one-card {
    text-decoration: none;
    &:hover {
        text-decoration: none;
        .min-section__br-bg {
            border-color: #aaa;
        }
    }
}
.min-section__br-bg {
    position: relative;
}

.tabs__in-min-section {
    margin-bottom: 20px;
}

.more {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -20px;
    font-size: 30px;
    line-height: 30px;
}

.one-card__content {
    margin-right: 50px;
}

.min-section__br-bg_primary-light {
    color: #fff;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        left: ($grid-gutter-width / 2);
        right: ($grid-gutter-width / 2);
        top: 0;
        bottom: 0;
        background-color: $brand-primary-light;
        display: block;
        z-index: 1;
    }
    .section-z-index {
        position: relative;
        z-index: 2;
    }
    .min-section__title {
        color: #fff;
    }
}


.news-and-updates__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.news-and-updates__list-item {
    padding: 0 0 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #fff;
    &:last-child {
        border: none;
    }
}

.news-and-updates__list-item-inner {
    padding: 0 20px 0 15px;
    border-left: 5px solid $brand-info;
}

.news-and-updates__item-title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin: 0;
}

.news-and-updates__item-text {
    p {
        margin: 0;
    }
    a {
        color: $brand-info;
    }
}

.accordion_black {
    .panel {
        background: #fff;
    }
    .panel-heading {
        a {
            &,
            &.collapsed {
                background: #3a3b41;
                color: #fff;
            }
        }
    }
    .panel-body {
        @extend .info-block;
    }
}

//##################
// FAQ
//##################
.accordion_no-pad {
    margin: 0 -20px -20px;
    &.accordion_no-pad-top {
        margin-top: -20px;
    }
}

.quick-guide__list-item {
    margin-bottom: 10px;
}

.quick-guide__list-link {
    display: block;
    padding: 20px 40px 20px 20px;
    border: 1px solid #000;
    font-size: 16px;
    line-height: 22px;
    position: relative;
    &:after {
        @include transition(all .2s linear);
        content: "\e616";
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -5px;
        font-family: 'Prego-font-icon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        font-size: 10px;
        text-align: center;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .icon {
        margin-right: 10px;
        vertical-align: middle;
        text-align: center;
        width: 25px;
        // display: inline-block;
        // float: left;
        line-height: 22px;
        position: absolute;
        top: 50%;
        margin-top: -11px;
    }
    .fs-min {
        font-size: 18px;
    }
    .fs-big {
        font-size: 22px;
    }
    span {
        overflow: hidden;
        display: block;
        padding-left: 35px;
    }
}

.filter-input {
    width: 100%;
    color: #CCCDD0;
    position: relative;
    .form-control {
        padding-left: 35px;
    }
    .icon {
        top: 50%;
        margin-top: -10px;
        line-height: 20px;
        left: 0;
        font-size: 20px;
    }
    &.filter-input_right {
        .form-control {
            padding-right: 35px;
            padding-left: 13px;
        }
        .icon {
            left: inherit;
        }
    }
}

.nav-tabs {
    &.nav-tub_custom {
        border-bottom: none;
    }
}

.min-section__pd-bt-none {
    padding-bottom: 0;
}

.btn__invite-members {
    margin-bottom: 20px;
}

.invitations-send__text {
    text-align: center;
    padding: 30px 0 0;
    font-size: 16px;
}

.total-groups {
    padding: 8px 0;
}

.one-totla {
    margin-right: 20px;
    display: inline-block;
}

.modal-footer.invitations-send__footer {
    text-align: center;
}

.join-requests__list {
    padding: 0;
    list-style: none;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.join-requests__list-item {
    border-top: 1px solid #E0E1E3;
    padding: 15px 0;
}

.join-list__left-block {
    color: #969595;
    font-size: 14px;
    font-weight: 400;
}

.user-info__name {
    color: #272525;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}

.join-list__right-block {
    padding-top: 20px;
}

.btn-group_horizontal {
    .btn {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.btn-badge {
    @include border-radius(10px);
    padding: 0 5px;
    min-width: 21px;
    height: 21px;
    line-height: 21px;
    background-color: #707172;
    display: inline-block;
    color: #FFF;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 10px;
    text-align: center;
}

.main-filter-block {
    border-bottom: 1px solid #E0E1E3;
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
}

.min-section__header_bottom-line {
    @extend .main-filter-block;
}

.main-filter-block__counter {
    padding: 6px 0;
    line-height: 22px;
}

.new-payout-select__wr {
    padding-left: 20px;
}

.grid-plus-btn,
.grid-del-btn {
    font-size: 18px;
    line-height: 18px;
    color: #929395;
    text-align: center;
    display: block;
}

.min-title {
    font-size: 14px;
    font-weight: 700;
}

.filter-input__btn {
    padding: 7px 0;
    color: #929395;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    display: inline-block;
    .icon {
        margin-right: 15px;
        display: inline-block;
        font-size: 20px;
        vertical-align: middle;
    }
}

.info-list {
    list-style: none;
    padding: 0;
    margin: 0;
    .info-list__item {
        padding: 13px 0;
        border-bottom: 1px solid #e2e4e7;
        overflow: hidden;
        &:last-child {
            border: none;
        }
    }
    .info-list__label {
        float: left;
        width: 50%;
        overflow: hidden;
        padding-right: 10px;
    }
    .info-list__value {}
}

.card-info {
    padding-top: 5px;
}

.card-form-group-edit {
    .input-group {
        padding-top: 1px;
        margin-left: -11px;
        @include transition(all .2s linear);
    }
    .control-label {
        font-size: 14px;
        @include transition(all .2s linear);
    }
    &.form-group-edit {
        .form-control {
            border-color: transparent;
            @include box-shadow(none);
            color: #272525;
            font-size: 14px;
            font-weight: 700;
            height: 28px;
            background: #fff;
            cursor: text;
            @include transition(all .2s linear);
        }
        .input-group-addon {
            border-color: transparent;
            cursor: pointer;
            @include transition(all .2s linear);
        }
        .input-group {
            max-width: 200px;
            @include transition(all .2s linear);
        }
    }
    .form-control {
        @include border-bottom-left-radius(3px);
        @include border-top-left-radius(3px);
    }
    .input-group-addon {
        cursor: pointer;
        background: transparent;
        @include border-bottom-right-radius(3px);
        @include border-top-right-radius(3px);
    }
}

.card_wr {
    display: block;
    padding: 20px 15px;
    border: 1px solid #e0e1e3;
    border-radius: 2px;
    overflow: hidden;
    background: #fff;
}

// #############
// send money
// #############
.step-list__item {
    overflow: hidden;
    margin-bottom: 20px;
}

.step-list__item-number {
    @include border-radius(32px);
    width: 32px;
    height: 32px;
    text-align: center;
    background-color: #FFF;
    border: 1px solid #272525;
    color: #272525;
    font-size: 16px;
    padding: 4px;
    float: left;
    margin-right: 20px;
    .glyphicon {
        color: $brand-success;
    }
    &.step-list__danger {
        .glyphicon {
            color: $brand-danger;
        }
    }
}

.step-list__item-label {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    // float: left;
    margin-right: 10px;
    margin-bottom: 15px;
    padding-top: 6px;
}

.step-list__item-contents {
    margin-left: 60px;
    .min-section__pd {
        margin-bottom: 10px;
    }
}

.step-list__item-link {
    color: #272525;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    display: inline-block;
    margin-top: 5px;
}

.card-close {
    position: absolute;
    top: 0px;
    right: 15px;
}

.card-list_style {
    border-bottom: 1px solid #E2E2E3;
    border-top: 1px solid #E2E2E3;
    margin-bottom: 20px;
    li {
        padding-top: 20px;
        margin-bottom: 0;
        padding-left: 10px;
        padding-right: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.dash__card-list {
    .one-card {
        &:last-child {
            .min-section {
                margin-bottom: 0;
            }
        }
    }
}

.modal-card-item__wr {
    display: table;
    width: 100%;
}

.modal-card-item__checkbox-wr {
    display: table-cell;
    width: 30px;
    vertical-align: middle;
}

.modal-card-item__text {
    display: table-cell;
    vertical-align: middle;
}

.card-checked {
    background: #E2E2E3;
}

.amount-input {
    margin-right: 10px;
    label {
        font-weight: normal;
    }
}

.form-control__caption {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    span {
        display: block;
        color: #ABABAE;
        font-size: 13px;
    }
}

.control-label__custom {
    margin: 8px 10px 0 0;
}

// .btn-disable[disabled] {
//     background-color: #c5c7cb;
//     border-color: #c5c7cb;
// }
.radio-inline__group {
    padding-top: 4px;
}

.grid-massage {
    text-align: center;
    color: #929395;
    padding: 60px 10px;
}

.help-info__item {
    display: inline-block;
    margin-right: 20px;
}

// #############
// send money
// #############
// #############
// ng-datepicker
// #############
.input-ng-datepicker {
    position: relative;
    .form-control {
        padding-right: 35px;
    }
    .ng-datepicker-btn {
        position: absolute;
        right: 0;
        top: 50%;
        width: 35px;
        text-align: center;
        font-size: 20px;
        line-height: 20px;
        margin-top: -11px;
        padding: 0;
    }
    .btn {
        @include box-shadow(none);
        font-weight: normal;
        &:focus {
            outline: none;
        }
    }
    thead {
        .btn {
            background: transparent;
            border: none;
        }
    }
    .dropdown-menu {
        outline: none;
        left: inherit !important;
        right: 0;
        margin: 0;
        padding: 0;
    }
    .ng-isolate-scope {
        table {
            outline: none;
            @include box-shadow(none);
        }
    }
    .text-info {
        color: #fff;
    }
}

// #############
// end ng-datepicker
// #############
// #############
// bootstrap-datepicker
// #############
.daterangepicker.dropdown-menu {
    &:after {
        top: -11px;
    }
    &:before {
        top: -13px;
    }
}

.daterangepicker .calendar-date {
    @include border-radius(2px);
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background: #e0e1e3;
    @include border-radius(0);
    color: #272525;
}

.daterangepicker td.in-range {
    background: #f6f6f7;
}

.daterangepicker {
    .icon-arrow-left:before {
        @extend .i-arrow-left:before;
        @extend .icon;
        color: #272525;
    }
    .icon-arrow-right:before {
        @extend .i-arrow-right:before;
        @extend .icon;
        color: #272525;
    }
}

.daterangepicker td,
.daterangepicker th {
    @include border-radius(0);
}

.daterangepicker .calendar th.month {
    font-weight: normal;
    color: #272525;
}

.daterangepicker .calendar th {
    font-weight: normal;
    color: #929395;
}

.daterangepicker .ranges li {
    @include border-radius(0);
    color: #272525;
    &:hover,
    &.active {
        background-color: #000;
        border-color: #000;
    }
}

.daterangepicker_start_input,
.daterangepicker_end_input {
    display: none;
}

// #############
// end bootstrap-datepicker
// #############
.loader-container {
    position: relative;
}

.loader-bg {
    position: relative;
    z-index: 1000;
    min-height: 100px;
    .min-section__title_load-show {
        position: relative;
        z-index: 1002
    }
}

.loader-wr {
    position: relative;
    background: #fff;
    background: rgba(#fff, .8);
    z-index: 1000;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1001;
    @include transition(all 0.5s ease);
    &.loader-wr_sb {
        top: -20px;
        bottom: -20px;
        z-index: 1002;
        .loader-2 {
            position: fixed;
        }
    }
}

.loader {
    background: url(../img/loader-bottom.png) left top no-repeat;
    width: 78px;
    height: 66px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -39px;
    margin-top: -33px;
    z-index: 1;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 0;
        background: url(../img/loader-top.png) left top no-repeat;
        z-index: 2;
        @include animation(loader 2s ease 1s infinite alternate);
    }
}

@include keyframes(loader) {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.loader-2 {
    @include transition(all 0.5s ease);
    margin: 0 0 2em;
    height: 120px;
    width: 120px;
    text-align: center;
    // padding: 1em;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -60px;
    margin-top: -60px;
    z-index: 1;
    // background: url(../img/loader-bg.png) center center no-repeat;
    // background-size: 40%;
    &.loader-2_min {
        height: 60px;
        width: 60px;
        margin-top: -30px;
        margin-left: -30px;
    }
}

.toggled {
    .loader-wr_sb {
        .loader-2 {
            margin-left: 190px;
        }
    }
}

@media (min-width: $screen-sm) {
    .loader-wr_sb {
        &.loader-wr {
            top: -25px;
            bottom: -25px;
        }
        .loader-2 {
            margin-left: 70px;
            margin-top: -30px;
        }
    }
}

.coming-soon__wr {
    padding: 40px;
    background: #fff;
    max-width: 500px;
    margin: 40px auto;
}

.coming-soon {
    font-size: 40px;
    // text-transform: uppercase;
    text-align: center;
    color: #000;
    font-weight: 100;
    span {
        color: $brand-danger;
        // font-weight: 400;
    }
}

//##################
// document
//##################
.document-info {
    background-color: #F0F0F0;
    padding: 10px;
}

.document-info__title {
    color: #272525;
    font-size: 23px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.document-info__photo {
    width: 90px;
    float: left;
    margin-right: 10px;
}

.document-info__text {
    overflow: hidden;
}

.document-info__item {
    color: #272525;
    font-size: 14px;
    line-height: 1.3em;
    font-weight: 400;
    margin-bottom: 5px;
    span {
        font-weight: 700;
    }
}

.step-number {
    font-weight: 400;
}

.sign-up__step-block {
    padding-top: 15px;
}

.help-form-text {
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
    color: #ABABAE;
    font-size: 13px;
    font-weight: 400;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.splash-register-back-btn {
    position: absolute;
    bottom: 10px;
}

.splash-register-company-btns {
    padding-top: 20px;
}

.loginbox-relative {
    position: relative;
}

.overflow-inherit {
    overflow: inherit;
}

.i-group_add {
    font-size: 1.3em;
}

//##################
// footer
//##################
.main-footer {
    background: #fff;
    border-top: 1px solid #e2e4e7;
    padding: 10px 0;
}

.copyright-block__text {
    color: #ABABAE;
    font-size: 13px;
    font-weight: 400;
    margin: 0 0 10px;
    text-align: center;
}

.footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 0;
}

.footer-nav__li {
    display: inline-block;
    color: #ABABAE;
    font-size: 13px;
    &:before {
        content: '|';
        margin-right: 10px;
        margin-left: 10px;
    }
    &:first-child {
        &:before {
            display: none;
        }
    }
}

.footer-nav__link {
    color: inherit;
    font-weight: 400;
}

// form-helper
::-webkit-input-placeholder {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
    // /* WebKit browsers */
    color: #999;
}

:-moz-placeholder {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
    // /* Mozilla Firefox 4 to 18 */
    color: #999;
}

::-moz-placeholder {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
    // /* Mozilla Firefox 19+ */
    color: #999;
}

:-ms-input-placeholder {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
    // /* Internet Explorer 10+ */
    color: #999;
}

.bs-searchbox {
    opacity: 0;
    position: absolute;
}

.dropdown-menu li.hidden {
    display: block !important;
    visibility: visible;
}

.dropdown-menu li.no-results {
    display: none !important;
}

.box-message {
    text-align: center;
    color: #929395;
    padding: 0px 10px;
}

.min-section .other-card-input {
    padding-right: 0px;
}

.card-name__value {
    padding-top: 6px;
    display: inline-block;
}

.dropdown-menu {
    z-index: 1001;
}

/*Common styles*/
.register_splash .btn-group_horizontal .btn {
    margin-right: 0px;
}

/*Support styles*/
.faq-accordion__wr .panel-body {
    font-size: 14px;
}

.faq-accordion__wr .panel-body p {
    line-height: 20px;
}