// @font-face {
//  font-family: 'Myriad Pro';
//  src: url('../fonts/Barnaul Grotesk//MyriadPro-Regular/MyriadPro-Regular.eot');
//  src: local('☺'), url('../fonts/Barnaul Grotesk//MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'), url('../fontsMyriadPro-Regular//MyriadPro-Regular.ttf') format('truetype'), url('../fonts/Barnaul Grotesk//MyriadPro-Regular/MyriadPro-Regular.svg') format('svg');
//  font-weight: normal;
//  font-style: normal;
// }

// @font-face {
//   font-family: 'Prego-font-icon';
//   src: url('../fonts/prego-font.eot');
// }
// @font-face {
//   font-family: 'Prego-font-icon';

//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: 'Prego-font-icon';
  src:url('../fonts/prego-font/fonts/prego-font.eot?4yxh3p');
  src:url('../fonts/prego-font/fonts/prego-font.eot?#iefix4yxh3p') format('embedded-opentype'),
    url('../fonts/prego-font/fonts/prego-font.ttf?4yxh3p') format('truetype'),
    url('../fonts/prego-font/fonts/prego-font.woff?4yxh3p') format('woff'),
    url('../fonts/prego-font/fonts/prego-font.svg?4yxh3p#prego-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'Prego-font-icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-add-members:before {
  content: "\e627";
}
.i-apply-new-card:before {
  content: "\e628";
}
.i-balance:before {
  content: "\e629";
}
.i-card-details:before {
  content: "\e62a";
}
.i-change-password:before {
  content: "\e62b";
}
.i-company-information:before {
  content: "\e62c";
}
.i-contact-person:before {
  content: "\e62d";
}
.i-getting-started:before {
  content: "\e62e";
}
.i-how-to-send-money:before {
  content: "\e62f";
}
.i-id-information:before {
  content: "\e630";
}
.i-mobile-phone:before {
  content: "\e632";
}
.i-personal-information:before {
  content: "\e633";
}
.i-supplementary-card-details:before {
  content: "\e634";
}
.i-transaction-history:before {
  content: "\e635";
}
.i-check:before {
  content: "\e626";
}
.i-arrow-back:before {
  content: "\e625";
}
.i-log-out-i:before {
  content: "\e61c";
}
.i-reporters-i:before {
  content: "\e61d";
}
.i-social-i:before {
  content: "\e61e";
}
.i-support-i:before {
  content: "\e61f";
}
.i-send-i:before {
  content: "\e620";
}
.i-cards-i:before {
  content: "\e621";
}
.i-companies-i:before {
  content: "\e622";
}
.i-dash-i:before {
  content: "\e623";
}
// .i-download:before {
//   content: "\e61b";
// }
.i-calculator:before {
  content: "\e618";
}
.i-trash:before {
  content: "\e619";
}
.i-plus:before {
  content: "\e61a";
}
.i-arrow-left:before {
  content: "\e600";
}
.i-arrow-right:before {
  content: "\e616";
}
.i-edit-i:before {
  content: "\e624";
}
.i-success:before {
  content: "\e614";
}
.i-error:before {
  content: "\e615";
}
.i-uploadfile:before {
  content: "\e613";
}
.i-dollars:before {
  content: "\e612";
}
.i-cards:before {
  content: "\e611";
}
.i-out:before {
  content: "\e60b";
}
.i-password:before {
  content: "\e60c";
}
.i-bankdetails:before {
  content: "\e60d";
}
.i-deals:before {
  content: "\e60e";
}
.i-details:before {
  content: "\e60f";
}
.i-pin:before {
  content: "\e610";
}
.i-search:before {
  content: "\e617";
}
.i-start:before {
  content: "\e601";
}
.i-dashborard:before {
  content: "\e602";
}
.i-people:before {
  content: "\e603";
}
.i-support:before {
  content: "\e604";
}
.i-statistics:before {
  content: "\e605";
}
.i-coin:before {
  content: "\e606";
}
.i-card:before {
  content: "\e607";
}
.i-arrow-top:before {
  content: "\e608";
}
.i-arrow-bottom:before {
  content: "\e609";
}
.i-bell:before {
  content: "\e60a";
}
.i-lock-card:before {
  content: "\e631";
}
