/* Toggle-menu Styles */

.desktop-detected {
    @include transition(all 0.5s ease);
}

#page-content-wrapper {
    position: relative;
    // z-index: 1041;
    @include transition(all 0.5s ease);
    // overflow-x: hidden;
    &.toggled {
        padding-left: 250px;
        @include transition(all 0.5s ease);
    }
    &.log-out {
        padding: 0;
    }
}

#sidebar-wrapper {
    z-index: 2;
    position: absolute;
    left: 0;
    width: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    background: $brand-primary-light;
    @include transition(all 0.5s ease);
}

.desktop-detected.toggled #sidebar-wrapper {
    width: 250px;
    @include transition(all 0.5s ease);
}

.main-content,
.main-footer {
    @include transition(all 0.5s ease);
    right: 0;
    position: relative;
}

.desktop-detected.toggled {
    .main-content, .main-footer {
        right: -250px;
    }
}
/* Sidebar Styles */

.sidebar-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        border-bottom: 1px solid #242428;
        &.active,
        &:hover {
            a {
                text-decoration: none;
                // color: #fff;
                background-color: #242428;
                &:after {
                    @include opacity(1);
                }
            }
        }
        a {
            padding: 15px 25px;
            display: block;
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            position: relative;
            @include transition(all 0.5s ease);
            &:after {
                @include transition(all 0.5s ease);
                content: '';
                height: 0;
                width: 0;
                position: absolute;
                top: 50%;
                right: 0;
                margin-top: -8px;
                border-width: 8px;
                border-style: solid;
                border-color: transparent #F6F6F6 transparent transparent;
                @include opacity(0);
            }
            &:active,
            &:focus {
                text-decoration: none;
            }
        }
        .icon {
            vertical-align: bottom;
            font-size: 20px;
            display: inline-block;
            width: 40px;
            text-align: center;
            margin-right: 10px;
        }
    }
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.profile-img__wr {
    position: relative;
    display: inline-block;
    .user-status {
        width: 10px;
        height: 10px;
        min-width: 10px;
        margin-right: -3px;
    }
}

@media (min-width: $screen-sm) {
    #page-content-wrapper {
        padding-left: 250px;
        &.log-out {
            padding: 0;
        }
    }
    #page-content-wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #page-content-wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
/* end Toggle-menu Styles */