
@media (max-width: $screen-xs - 1) {}

@media (max-width: $screen-sm - 1) {
    // .sign-up__step-block,
    // .center-min-block__header-title {
    //     width: 100%;
    //     float: none;
    // }
    .user-alerts__menu {
        &:after {
            right: 50%;
            margin-right: -5px;
        }
        &:before {
            right: 50%;
            margin-right: -6px;
        }
    }
}

@media (max-width: $screen-md - 1) {}
@media (max-width: 1500px) {
    .main-filter-block__card-inner {
        .main-filter-block__card-inner_col {
            // width: 100%;
            &.control-label {
                text-align: left;
            }
        }
        .card-name {
            width: 100%;
            display: inline-block;
            position: relative;
            z-index: 2;
            margin-bottom: 0;
        }
    }
    .card-form-group-edit {
        position: relative;
        z-index: 2;
        .input-group {
            margin-left: 0;
        }
        &.form-group-edit {
            .input-group {
                position: relative;
                z-index: 1;
                margin-top: -7px;
                padding-top: 1px;
                // margin-left: -11px;
                @include transition(all .2s linear);
            }
            .form-control {
                padding-right: 0;
                padding-top: 0;
                padding-bottom: 0;
            }
            .input-group-addon {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
}



@media (min-width: $screen-xs) {
}

@media (min-width: $screen-sm) {
    .left-form-block__wr {
        float: left;
        width: 64%;
    }
    .logo-wrapper {
        padding: 13px 0 0;
    }
    .item__text_right {
        text-align: right;
    }
    .container {
        padding: 0 30px;
    }
    .sb-toggle-left {
        display: none;
    }
    .user-name {
        display: inline-block;
    }
    .main-header {
        padding: 20px 0;
    }
    .logo-wrapper {
        width: 100%;
    }
    .user-alerts-wr {
        margin-right: 20px;
        margin-top: 15px;
    }
    .user-alerts__dropdown {
        margin-right: 10px;
    }
    .user-alerts__menu {
        right: 0;
        margin-right: -5px;
        min-width: 320px;
    }
    .user-dropdown {
        margin-top: 10px;
        padding-bottom: 15px;
    }
    .user-dropdown__carret {
        margin-left: 5px;
    }
    .user-avatar-wr {
        margin-right: 10px;
    }
    .user-avatar {
        height: 50px;
        width: 50px;
    }
    .user-status {
        top: 0;
        right: 0;
    }
    .copyright-block__text {
        text-align: left;
        margin: 0;
    }
    .footer-nav {
        text-align: right;
    }
    .user-alerts__menu {
        .close {
            @include opacity(0);
            @include transition(all 0.5s ease);
        }
        .alert {
            &:hover {
                .close {
                    @include opacity(1);
                }
            }
        }
    }
    .main-content {
        > .container {
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }
    .page-title {
        margin-bottom: 30px;
    }
    .nav-tabs {
        > li {
            float: left;
            margin: 0 30px 10px 0;
        }
    }
    .account__top-allert_wr {
        position: absolute;
        left: 10px;
        right: 10px;
        top: 0;
    }
    .btn__invite-members {
        float: right;
    }
    .modal-dialog {
        margin-top: 10%;
    }
    .btn-group_right {
        text-align: right;
    }
    .right-form-caption-block__wr {
        float: right;
        margin: 66px -15px 0 0;
        width: 34%;
        padding: 0 0px 0 10px;
        background-color: #3A3B41;
        // text-align: justify;
        &:after {
            content: '';
           background-color: #3A3B41;
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
            width: 34%;
            z-index: 1;
        }
    }
    .sign-up__step-block {
        text-align: right;
        padding-bottom: 0;
        padding-top: 17px;
    }
    .coming-soon__wr {
        margin: 70px auto;
    }

    .coming-soon {
        font-size: 70px;
    }
}
.dysplay-tb-c.min-section__br-bg_primary-light {
    margin-right: 10px;
    margin-left: 10px;
}

@media (min-width: $screen-md) {
    // .list_items__cards {
    //     [class*="col"] {
    //         &:nth-child(2n+1) {
    //             clear: left;
    //         }
    //     }
    // }
    .center-min-block {
        margin: 50px auto;
    }
    .main-stats {
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    .one__main-stats {
        display: table-cell;
        background: #fff;
        padding: 20px;
        border-left: 1px solid #e0e1e3;
        border-top: none;
        &:first-child {
            border-left: none;
        }
    }

    .dysplay-tb {
        display: table;
        // margin: 0;
        .min-section {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .dysplay-tb-c {
        display: table-cell;
        vertical-align: top;
        float: none;
        // padding: 0;
        &.min-section__br-bg_primary-light {
            margin: 0;
        }
    }
    .dysplay-tb-c-l {
        // padding-right: $grid-gutter-width;
    }
}

@media (min-width: $screen-lg) {
    // .list_items__cards {
    //     [class*="col"] {
    //         &:nth-child(2n+1) {
    //             clear: inherit;
    //         }
    //     }
    // }
    // .list_items__cards {
    //     [class*="col"] {
    //         &:nth-child(3n+1) {
    //             clear: left;
    //         }
    //     }
    // }
    .tabpanel_inner-width {
        max-width: 800px;
    }
    .nav-tabs .filter-input {
        margin-right: 0;
        float: right;
    }
    .nav-tabs {
        &.nav-tub_custom {
            padding-bottom: 0;
        }
        > li {
            float: left;
            margin-bottom: 0;
        }
    }
    .upload-payout-list__wr {
        padding-top: 30px;
    }
    .main-filter-block {
        .control-label {
            text-align: right;
        }
    }
}
