@import 'compass';
@import 'variables';

.gridStyle {
    width: 100%;
    min-height: 500px;
}

.ngGrid {
    background: #fff;
    font-size: 13px;
}

.ng-user-status__wr {
    text-align: center;
    vertical-align: middle;
}

.ng-user-status__header {
    display: none;
}

.ngTopPanel {
    background-color: #E0E1E3;
}

.ngHeaderText {
    padding: 10px 20px 10px 10px;
    color: #000;
    // font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    // display: inline-block !important;
    // width: inherit !important;
}

.active_col:not(.ng-hide) ~ .tbcell__text {
    color: #FFF;
}

.ngCellText {
    padding-left: 10px;
    padding-right: 10px;
}

.user-status__label {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    margin-bottom: 1px;
}

.ngVerticalBarVisible {
    background: #fff;
}

.ngViewport, .ngHeaderContainer {
    box-sizing: content-box;
    border-left: 1px solid #F0F0F0;
    border-right: 1px solid #F0F0F0;
    margin-bottom: -1px;
}

.ngRow {
    border-bottom: 1px solid #F0F0F0;
}

.ngRow.even {
    background: #f3f3f3;
}

.ngRow.odd {
    background: transparent;
}

.ngFooterPanel {
    border-color: #F0F0F0;
    padding: 20px 0 0;
    background: #fff;
    min-height: 70px;
    height: inherit !important;
}

.ngRowCountPicker {
    float: none;
    margin-bottom: 20px;
    .ngRowCountPicker__f-c {
        display: inline-block;
        min-width: 65px;
        width: inherit;
        height: 32px;
        background-color: #FFF;
        border: 1px solid #E0E1E3;
        @include border-radius(3px);
        margin: 0 5px;
    }
}

.ngPagerContainer {
    float: none;
    margin-bottom: 20px;
}

.ngPagerControl__form-gloup {
    display: inline-block;
    margin: 0 5px;
}

.ngPagerControl {
    .form-control {
        width: 40px;
        padding: 5px;
        height: 32px;
        @include border-radius(3px);
        display: inline-block;
        text-align: center;
    }
    .btn {
        width: 32px;
        height: 32px;
        background-color: #E0E1E3;
        border: 1px solid #E0E1E3;
        @include border-radius(3px);
        text-align: center;
        outline: none;
    }
}

.ngSortButtonUp,
.ngSortButtonDown {
    border-color: #fff transparent;
    position: relative;
    top: inherit;
    left: inherit;
    right: inherit;
    bottom: inherit;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    z-index: 2;
    &:not(.ng-hide) ~ {
        .activ-tc__bg {
            background: #000;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }
    }
}

.activ-tc__bg {
    @include transition(all ease-out 0.3s);
}

.tbcell__text {
    z-index: 2;
    position: relative;
}

.grid-selected .ngRow.selected {
  background: #ddd;
}

.ng-form-control__edit-wr {
    .form-control {
        height: 30px;
        // padding-right: 35px;
        width: 100% !important;
    }
    [ng-edit-cell-if*="isFocused"],
    [ng-edit-cell-if*="isFocused && true"] {
        &:after {
            font-family: 'Prego-font-icon';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            display: block;
            text-align: center;
            width: 30px;
            line-height: 23px;
            vertical-align: middle;
            border: 1px solid transparent;
        }

    }
    [ng-edit-cell-if="!isFocused"],
    [ng-edit-cell-if="!(isFocused && true)"] {
        &:after {
            content: '\e624';
        }
    }
    [ng-edit-cell-if="isFocused"],
    [ng-edit-cell-if="isFocused && true"] {
        &:after {
            // content: '\e626';
            // border-color: #E0E1E3;
            // background-color: #fff;
            // border-left-color: $input-border-focus;
            display: none;
        }
    }
    .ngCellText {
        padding-right: 30px;
    }
    .input-group-btn {
        .btn {
            background: #fff;
            padding-left: 3px;
            padding-right: 3px;
            &:last-child {
                padding-left: 0px;
            }
        }
        .btn-save {
            i {
                color: $brand-success;
                &:hover {
                    color: darken($brand-success, 5%)
                }
            }
        }
        .btn-del {
            i {
                color: $brand-danger;
                &:hover {
                    color: darken($brand-danger, 5%)
                }
            }
        }
    }
}


@media (min-width: $screen-xs) {
    .ngRowCountPicker {
        float: right;
    }
    .ngPagerContainer {
        float: left;
    }
    .gridStyle {
        height: 500px;
    }
}