@import 'compass';
// @import "sprite";
@import 'fonts';
@import 'variables';
@import 'mixins';
// @import "grid";
// HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
// 
//   What follows is the result of much research on cross-browser styling.
//   Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
//   Kroc Camen, and the H5BP dev community and team.
//  
// 
//  ==========================================================================
//    Base styles: opinionated defaults
//  ========================================================================== 
// 
html,
button,
input,
select,
textarea
{
    color: #222;
}
// 
// Remove text-shadow in selection highlight: h5bp.com/i
// These selection rule sets have to be separate.
// Customize the background color to match your design.
// 
::-moz-selection
{
    background: #b3d4fc;
    text-shadow: none;
}
::selection
{
    background: #b3d4fc;
    text-shadow: none;
}
// 
// A better looking default horizontal rule
// 
hr
{
    display: block;

    height: 1px;
    margin: 1em 0;
    padding: 0;

    border: 0;
    border-top: 1px solid #dbdfdb;
}
// 
// Remove the gap between images, videos, audio and canvas and the bottom of
// their containers: h5bp.com/i/440
// 
audio,
canvas,
img,
video
{
    vertical-align: middle;
}
// 
// Remove default fieldset styles.
// 
fieldset
{
    margin: 0;
    padding: 0;

    border: 0;
}
// 
// Allow only vertical resizing of textareas.
// 
textarea
{
    resize: vertical;
}
// ==========================================================================
//    Browse Happy prompt
// ========================================================================== 
.browsehappy
{
    margin: .2em 0;
    padding: .2em 0;

    color: #000;
    background: #ccc;
}
//   ==========================================================================
//   Autor style
//   ========================================================================== 


@import 'left-menu';

@import 'tabs';

@import 'panels';

@import 'base';

@import 'media';

@import 'jcf';


// ==========================================================================
//    Helper classes
// ========================================================================== 
// 
// Image replacement
// 
.ir
{
    overflow: hidden;

    border: 0;
    background-color: transparent;
    // /* IE 6/7 fallback */

    *text-indent: -9999px;
}
.ir:before
{
    display: block;

    width: 0;
    height: 150%;

    content: '';
}
// 
// Hide from both screenreaders and browsers: h5bp.com/u
// 
.hidden
{
    display: none !important;
    visibility: hidden;
}
// 
// Hide only visually, but have it available for screenreaders: h5bp.com/v
// 
.visuallyhidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}
// 
// Extends the .visuallyhidden class to allow the element to be focusable
// when navigated to via the keyboard: h5bp.com/p
// 
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
{
    position: static;

    overflow: visible;
    clip: auto;

    width: auto;
    height: auto;
    margin: 0;
}
// 
// Hide visually and from screenreaders, but maintain layout
// 
.invisible
{
    visibility: hidden;
}
// 
// Clearfix: contain floats
// 
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
// `contenteditable` attribute is included anywhere else in the document.
// Otherwise it causes space to appear at the top and bottom of elements
// that receive the `clearfix` class.
// 2. The use of `table` rather than `block` is only necessary if using
// `:before` to contain the top-margins of child elements.
// 
.clearfix:before,
.clearfix:after
{
    display: table;

    content: ' ';
}
.clearfix:after
{
    clear: both;
}
// 
// For IE 6/7 only
// Include this rule to trigger hasLayout and contain floats.
// 
.clearfix
{
    *zoom: 1;
}
// ==========================================================================
//    EXAMPLE Media Queries for Responsive Design.
//    These examples override the primary ('mobile first') styles.
//    Modify as content requires.
// ========================================================================== 
@media only screen and (min-width: 35em)
{
    // Style adjustments for viewports that meet the condition
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)
{
    // Style adjustments for high resolution devices
}
// ==========================================================================
// Print styles.
// Inlined to avoid required HTTP connection: h5bp.com/r
// ==========================================================================
@media print
{
    *
    {
        color: #000 !important;
        background: transparent !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited
    {
        text-decoration: underline;
    }
    a[href]:after
    {
        content: ' (' attr(href) ')';
    }
    abbr[title]:after
    {
        content: ' (' attr(title) ')';
    }
    // 
    // Don't show links for images, or javascript/internal links
    // 
    .ir a:after,
    a[href^='javascript:']:after,
    a[href^='#']:after
    {
        content: '';
    }
    pre,
    blockquote
    {
        border: 1px solid #999;

        page-break-inside: avoid;
    }
    thead
    {
        display: table-header-group;
    }
    tr,
    img
    {
        page-break-inside: avoid;
    }
    img
    {
        max-width: 100% !important;
    }
    @page
    {
        margin: .5cm;
    }
    p,
    h2,
    h3
    {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3
    {
        page-break-after: avoid;
    }
}

/*--------------------------------*/
.sign-up-caption {
    line-height: 20px;
}

.sign-up-caption p {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .right-form-caption-block__wr {
        margin-top: 0px;
        padding-top: 66px;
        text-align: left;
    }
}

.one-card__content {
    margin-right: 0px;
}

.step-list__item {
    margin-bottom: 18px;
}

.min-section__title, .min-section__footer-link {
    font-weight: normal;
    color: #000;
}

.user-status {
    border: none;
    min-width: 14px;
    height: 14px;
}

.sign-up-caption ul li:after {
    top: 10px;
    width: 5px;
    height: 1px;
    background-color: #00AEEF;
}

/*---new styles-----*/
@media (max-width: 1199px) {
    .right-form-caption-block__wr {
        padding-top: 92px;
    }
}

@media (min-width: 768px) {
    .right-form-caption-block_head {
        padding-top: 104px;
    }
}

@media (max-width: 1199px) {
    .right-form-caption-block_head {
        padding-top: 130px;
    }
}

.btn:focus, .btn:active, a:focus, a:active {
    outline: none !important;
}

.btn-primary:focus, .btn-primary:active {
    background: #404040;
}

.link-edit-group a {
    font-weight: 700;
    text-decoration: none;
}

.bootstrap-select .disabled {
    background-color: #eeeeee;
    opacity: 1;
    color: #555555;
}

.info-block__text p {
    margin-bottom: 20px;
}

.user-status{
    margin-bottom: 3px;
}

.card-info-edit-label {
    padding-top: 6px;
}

.card-info-edit.form-group-edit .form-control {
    font-weight: 400;
}

@media (max-width: 1500px) {
    .card-form-group-edit.form-group-edit .input-group {
        margin-top: 0;
    }
}

.form-comments p a {
    color: #00AEEF;
}

.step-list__item-number.step-danger {
    border: 1px solid #FF5227;
}

.card-checked .user-status {
    border: 1px solid #E2E2E3;
}

.step-list__item-amount {
    margin-bottom: 16px;
}

.modal-body {
    padding-bottom: 20px;
}

.item__text, .item__title {
    margin-bottom: 5px;
}

.item__text_last {
    margin-bottom: 0px;
}

.item__title span {
    margin-left: 0px;
}

.help-block.help-blok__message_server-error {
    margin: 0 0 5px 10px;
    font-size: 14px;
    text-align: left;
}

.input-edit-btn {
    float: left;
    margin-top: 8px;
}

p.list-header {
    margin-bottom: 0px;
}

p.list-header ~ ul {
    margin: 0 0 20px;
}

p.list-header ~ ul li {
    margin-left: 35px;
}

.info-list .info-list__value {
    float: left;
    width: 50%;
}

.card-form-group-edit .input-group {
    margin-left: 0px;
}

.form-group-sm.card-form-group-edit.card-info-edit.js-form-group-edit.form-group-edit {
    margin-left: -26px;
}

.user-dropdown__menu .dropdown__user-status {
    text-decoration: none;
    padding: 8px 20px;
    display: block;
    line-height: 1;
}

.user-status_dd {
    margin-left: 2px;
}
/*-----------------*/
