
<div ng-style="{ height: col.headerRowHeight }" ng-repeat="col in renderedColumns" ng-class="col.colIndex()" class="ngHeaderCell">
  <div ng-style="{height: col.headerRowHeight}" ng-class="{ ngVerticalBarVisible: !$last }" class="ngVerticalBar"> </div>
  <div ng-style="{'cursor': col.cursor}" ng-class="{ 'ngSorted': !noSortVisible }" class="ngHeaderSortColumn {{col.headerClass}}">
    <div ng-click="col.sort($event)" ng-class="'colt' + col.index" class="ngHeaderText">
      <div ng-show="col.showSortButtonDown() || col.showSortButtonUp()" class="active_col"></div><span ng-if="!showSelectionCheckbox || col.index !== 0" class="tbcell__text">{{col.displayName}}</span>
      <div ng-if="showSelectionCheckbox &amp;&amp; col.index === 0" ng-style="{cursor: col.cursor}" style="margin-top: 4px; margin-left: -4px;" class="{{col.headerClass}}">
        <input type="checkbox" ng-show="multiSelect" ng-model="allSelected" ng-change="toggleSelectAll(allSelected)" class="ngSelectionCheckbox ngChkHeader"/>
      </div>
      <div ng-show="col.showSortButtonDown()" class="ngSortButtonDown"></div>
      <div ng-show="col.showSortButtonUp()" class="ngSortButtonUp"></div>
      <div class="activ-tc__bg"></div>
    </div>
    <div class="ngSortPriority">{{col.sortPriority}}</div>
    <div ng-class="{ ngPinnedIcon: col.pinned, ngUnPinnedIcon: !col.pinned }" ng-click="togglePin(col)" ng-show="col.pinnable"></div>
  </div>
  <div ng-show="col.resizable" ng-click="col.gripClick($event)" ng-mousedown="col.gripOnMouseDown($event)" class="ngHeaderGrip"></div>
</div>