
<div class="modal-content">
  <div class="modal-header"></div>
  <div class="modal-body text-center">
    <div class="form-group">
      <p><img src="img/error-img.png" alt=""/></p>
      <p>The company was not found.</p>
    </div>
    <div class="btn-group_horizontal"><a href="" class="btn btn-primary">Join company</a></div>
  </div>
</div>