
<div class="modal-content">
  <div class="modal-header">
    <h4 id="JoinCompanyLabel" class="modal-title">company</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <!-- h3.item__title ASDF Entertainment-->
      <!--   span Joined-->
      <!-- .item-title__id ID 150.25.13.400-->
      <!-- .item-title__text Oklahoma City, S Walker Ave Tulsa, E 73rd St-->
      <ul class="min-list-info">
        <li class="min-list-info__item">
          <div class="min-list-info__label">Name:</div>
          <div class="min-list-info__value">ASDF Entertainment</div>
        </li>
        <li class="min-list-info__item">
          <div class="min-list-info__label">Company ID:</div>
          <div class="min-list-info__value">150.25.13.400</div>
        </li>
        <li class="min-list-info__item">
          <div class="min-list-info__label">Address:</div>
          <div class="min-list-info__value">
             
            S Walker Ave Tulsa 256, <span>Address 2</span><br/>52446 OKLAHOMA CITY, UNITED STATES
          </div>
        </li>
      </ul>
    </div>
    <div class="btn-group_horizontal btn-group_right">
      <button type="button" ng-click="joinCompany4()" class="btn btn-default">search company</button>
      <button type="button" ng-click="joinCompany3()" class="btn btn-primary">confirm</button>
    </div>
  </div>
</div>