
<div class="modal-content">
  <div class="modal-header text-center"></div>
  <div class="modal-body text-center">
    <div class="form-group">
      <p><img src="img/check-img.png" alt=""/></p>
      <p>Your Join Request was sent to ASDF Entertainment!</p>
      <p>Please stand by for approval.</p>
    </div>
    <div class="btn-group_horizontal"><a href="" class="btn btn-primary">ок</a></div>
  </div>
</div>