
<div class="modal-content">
  <div class="modal-header text-center"></div>
  <div class="modal-body text-center">
    <div class="form-group">
      <p><img src="img/question.png" alt=""/></p>
      <p>Are you sure?</p>
    </div>
    <div class="btn-group_horizontal"><a href="" class="btn btn-primary">yes</a><a href="" class="btn btn-default">no</a></div>
  </div>
</div>