
<div class="form-group">
  <div class="col-lg-12"><strong>Personal Information - Primary Card</strong></div>
</div>
<div class="row">
  <div class="col-lg-5">
    <div class="form-group">
      <label class="control-label col-lg-3">First Name</label>
      <div class="col-lg-9">
        <input type="text" value="Koninklijke Philips" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-3">Last Name</label>
      <div class="col-lg-9">
        <input type="text" value="PR123456" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-3">Date of Brith</label>
      <div class="col-lg-9">
        <div class="input-ng-datepicker clearfix"><span class="btn ng-datepicker-btn"><i class="icon i-calculator"></i></span>
          <input type="text" name="birthdate" value="06/01/2015" class="form-control"/>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-lg-offset-1">
    <div class="form-group">
      <label class="control-label col-lg-3">First Name:</label>
      <div class="col-lg-8">
        <select class="form-control">
          <option value="0">Selected</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-3">Last Name</label>
      <div class="col-lg-8">
        <select class="form-control">
          <option value="0">Selected</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-3">Passport/IC</label>
      <div class="col-lg-9">
        <input type="text" value="" class="form-control"/>
      </div>
    </div>
  </div>
</div>
<hr/>
<div class="form-group">
  <div class="col-lg-12"><strong>Contact Details</strong></div>
</div>
<div class="row">
  <div class="col-lg-5">
    <div class="form-group">
      <label class="control-label col-lg-3">Adress 1</label>
      <div class="col-lg-9">
        <input type="text" value="" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-3">Adress 2</label>
      <div class="col-lg-9">
        <input type="text" value="" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-3">Adress 3</label>
      <div class="col-lg-9">
        <input type="text" value="" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-3">Post Code</label>
      <div class="col-lg-9">
        <input type="text" value="" class="form-control"/>
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-lg-offset-1">
    <div class="form-group">
      <label class="control-label col-lg-3">City/Town</label>
      <div class="col-lg-9">
        <input type="text" value="" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-3">Country</label>
      <div class="col-lg-8">
        <select class="form-control">
          <option value="0">Selected</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-3">E-mail</label>
      <div class="col-lg-9">
        <input type="email" value="" class="form-control"/>
      </div>
    </div>
  </div>
</div>
<hr/>
<div class="form-group">
  <div class="col-lg-12"><strong>Shipping Address</strong></div>
</div>
<div class="row">
  <div class="col-lg-5">
    <div class="form-group">
      <label class="control-label col-lg-3">Adress 1</label>
      <div class="col-lg-9">
        <input type="text" value="" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-3">Adress 2</label>
      <div class="col-lg-9">
        <input type="text" value="" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-3">Adress 3</label>
      <div class="col-lg-9">
        <input type="text" value="" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-3">Post Code</label>
      <div class="col-lg-9">
        <input type="text" value="" class="form-control"/>
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-lg-offset-1">
    <div class="form-group">
      <label class="control-label col-lg-3">City/Town</label>
      <div class="col-lg-9">
        <input type="text" value="" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-3">Country</label>
      <div class="col-lg-8">
        <select class="form-control">
          <option value="0">Selected</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-3 col-lg-9">
        <div class="checkbox">
          <label>
            <input type="checkbox"/>Use same address as contact details
          </label>
        </div>
      </div>
    </div>
  </div>
</div>