
<div class="modal-content">
  <form class="form-horizontal">
    <div class="modal-header">
      <h4 class="modal-title">enter the code </h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <div class="col-sm-12"><span class="help-form-text">You should receive at +1 702 123 4567 with your confirmation code soon.</span></div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="form-group">
            <label class="control-label col-sm-3">Code</label>
            <div class="col-sm-9">
              <input id="CompanyNumber" type="text" name="CompanyNumber" value="" class="form-control"/>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="btn-group_horizontal">
            <button type="button" class="btn btn-primary">Confirm</button>
            <button type="button" class="btn btn-default">Cancel</button>
          </div>
        </div>
      </div>
      <div class="btn-group_horizontal">
        <button type="button" class="btn btn-default">Resend</button><span class="help-form-text">Plese wait 5 minutes before requesting another code.</span>
      </div>
    </div>
  </form>
</div>