extends ../layouts/default
block head
- pageTitle = 'Prego Cards';
block link
   -var selected = "cards";
block content
  .container
   .row
      .col-sm-6
        h2.page-title Cards
      .col-sm-6
        .btn-group_horizontal.btn-group_right
          button.btn.btn-primary.ngdialog-button.ngdialog-button-secondary(type='button')
            | Apply for Additional Card
    .row.list_items.list_items__cards
      .col-md-6

        a(href="card-inner.html").one-card.min-section.card_wr
            section.min-section__br-bg.min-section__pd.info-block
              .more &#62;
              .one-card__content
                .row
                  .col-sm-8
                    h3.item__title My Primary Card
                      span Primary
                  .col-sm-4.item__text_right
                    | Active
                    .user-status.user-status_new-reg
                .item__text 5328 **** **** 0402
                .row
                  .col-sm-5
                    .item__text Expires 14/17
                  .col-sm-7
                    .item__text.item__text_right
                      | Balance: 
                      span USD $35,050.03

        a(href="card-inner.html").one-card.min-section.card_wr
          section.min-section__br-bg.min-section__pd.info-block
            .more &#62;
            .one-card__content
              .row
                .col-sm-8
                  h3.item__title Card Name
                    span Supplementary
                .col-sm-4.item__text_right
                  | Expired
                  .user-status.user-status_error
              .item__text 5328 **** **** 0402
              .row
                .col-sm-5
                  .item__text Expires 14/17
                .col-sm-7
                  .item__text.item__text_right
                    | Balance: 
                    span USD $50,000.05

        a(href="card-inner.html").one-card.min-section.card_wr
          section.min-section__br-bg.min-section__pd.info-block
            .more &#62;
            .one-card__content
              .row
                .col-sm-8
                  h3.item__title Card Name
                    span Supplementary
                .col-sm-4.item__text_right
                  | Locked
                  .user-status.user-status_default
              .item__text 5328 **** **** 0402
              .row
                .col-sm-5
                  .item__text Expires 14/17
                .col-sm-7
                  .item__text.item__text_right
                    | Balance: 
                    span USD $50,000.05


        a(href="card-inner.html").one-card.min-section.card_wr
          section.min-section__br-bg.min-section__pd.info-block
            .more &#62;
            .one-card__content
              .row
                .col-sm-8
                  h3.item__title Card Name
                    span Supplementary
                .col-sm-4.item__text_right
                  | Expired
                  .user-status.user-status_error
              .item__text 5328 **** **** 0402
              .row
                .col-sm-5
                  .item__text Expires 14/17
                .col-sm-7
                  .item__text.item__text_right
                    | Balance: 
                    span USD $50,000.05

        a(href="card-inner.html").one-card.min-section.card_wr
          section.min-section__br-bg.min-section__pd.info-block
            .more &#62;
            .one-card__content
              .row
                .col-sm-8
                  h3.item__title Card Name
                    span Supplementary
                .col-sm-4.item__text_right
                  | Locked
                  .user-status.user-status_default
              .item__text 5328 **** **** 0402
              .row
                .col-sm-5
                  .item__text Expires 14/17
                .col-sm-7
                  .item__text.item__text_right
                    | Balance: 
                    span USD $50,000.05

        a(href="card-inner.html").one-card.min-section.card_wr
          section.min-section__br-bg.min-section__pd.info-block
            .more &#62;
            .one-card__content
              .row
                .col-sm-8
                  h3.item__title My Primary Card
                    span Primary
                .col-sm-4.item__text_right
                  | Active
                  .user-status.user-status_new-reg
              .item__text 5328 **** **** 0402
              .row
                .col-sm-5
                  .item__text Expires 14/17
                .col-sm-7
                  .item__text.item__text_right
                    | Balance: 
                    span USD $35,050.03

