extends ../layouts/default
block head
- pageTitle = 'Prego Cards';
block link
   -var selected = "cards";


block ng
  - var ngApp = "myApp";
  - var ngController = "MyCtrl3";


block append js
  script(src='js/ng-payout-cards.js')
  script.
      //- $(document).ready(function() {
      //- $('input[name="daterange"]').daterangepicker(
      //-   { 
      //-     format: 'YYYY-MM-DD',
      //-     startDate: '2013-01-01',
      //-     endDate: '2016-12-31',
      //-     applyClass: 'btn-primary',
      //-     opens: 'left'
      //-   }
      //- );
      //- });
      $(function() {
 
        $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
     
        $('#reportrange').daterangepicker({
            format: 'MM/DD/YYYY',
            startDate: moment().subtract(29, 'days'),
            endDate: moment(),
            minDate: '01/01/2012',
            maxDate: '12/31/2015',
            dateLimit: { days: 60 },
            //- showDropdowns: true,
            //- showWeekNumbers: true,
            //- timePicker: false,
            timePickerIncrement: 1,
            timePicker12Hour: true,
            ranges: {
               'Today': [moment(), moment()],
               'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
               'Last 7 Days': [moment().subtract(6, 'days'), moment()],
               'Last 30 Days': [moment().subtract(29, 'days'), moment()],
               'This Month': [moment().startOf('month'), moment().endOf('month')],
               'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            opens: 'left',
            drops: 'down',
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-primary',
            cancelClass: 'btn-default',
            separator: ' to ',
            locale: {
                applyLabel: 'Apply',
                cancelLabel: 'Cancel',
                fromLabel: 'From',
                toLabel: 'To',
                customRangeLabel: 'Custom',
                daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
                monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                firstDay: 1
            }
        }, function(start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        });
      });

block content
  .container
   .row
      .col-sm-6
        h2.page-title My Payroll Card
      .col-sm-6
        .btn-group_horizontal.btn-group_right
          a.btn.btn-primary.ngdialog-button.ngdialog-button-secondary(href="cards.html")
            i.icon.i-arrow-back 
            | Back
    .min-section.min-section__br-bg.min-section__pd
      .main-filter-block
        form.form-horizontal.main-filter-block__card-inner
          .row
            .col-sm-6.col-md-12.col-lg-6
              .row
                .col-lg-6.col-md-4.main-filter-block__card-inner_col
                  .form-group.form-group-sm.card-form-group-edit.js-form-group-edit.form-group-edit
                    label(for='exampleInputAmount').col-lg-12.main-filter-block__card-inner_col.card-name Card Name:
                    .col-lg-12.main-filter-block__card-inner_col
                      .input-group
                        input#exampleInputAmount.form-control.js-input-ds(type='text', placeholder='Name', value="My Payroll Card", disabled)
                        .input-group-addon.btn-edit-name.js-btn-edit-input
                          .icon.i-edit-i
                .col-lg-6.col-md-4.main-filter-block__card-inner_col
                  .form-group.card-info
                    .col-lg-12
                      span.card-name Number:
                    .col-lg-12.clearfix
                      strong.card-name__value 5328 **** **** 0402
            .col-sm-6.col-md-12.col-lg-6
              .row
                .col-lg-5.col-md-4.main-filter-block__card-inner_col
                  .form-group.card-info
                    .col-lg-12
                      span.card-name Type:
                    .col-lg-12
                      strong.card-name__value Primary
                .col-lg-4.col-md-4.main-filter-block__card-inner_col
                  .form-group.card-info
                    .col-lg-12
                      span.card-name Balance:
                    .col-lg-12
                      strong.card-name__value $50,500.05
                .col-lg-3.col-md-4.main-filter-block__card-inner_col
                  .form-group.card-info
                    .col-lg-12
                      span.card-name Status:
                    .col-lg-12
                      strong.card-name__value Expired
                      .user-status.user-status_new-reg
      .clearfix
        div(role='tabpanel')
          // Nav tabs
          .tabs__in-min-section
            ul.nav.nav-tabs.nav-tub_custom(role='tablist')
              li.active(role='presentation')
                a(href='#tab1', aria-controls='tab1', role='tab', data-toggle='tab') Card details
              li(role='presentation')
                a(href='#tab2', aria-controls='tab2', role='tab', data-toggle='tab') Balance
              li(role='presentation')
                a(href='#tab3', aria-controls='tab3', role='tab', data-toggle='tab') Transactions
              li(role='presentation')
                a(href='#tab4', aria-controls='tab4', role='tab', data-toggle='tab') Lock Card

          // Tab panes
          .tab-content
            #tab1.tab-pane.active.fade.in(role='tabpanel')
              .tabpanel_inner
                .row
                  .col-md-6
                    ul.info-list
                      li.info-list__item
                        .info-list__label Name:
                        .info-list__value My Payroll Card
                      li.info-list__item
                        .info-list__label Type:
                        .info-list__value Primary
                      li.info-list__item
                        .info-list__label Number:
                        .info-list__value 5328 **** **** 0402
                      li.info-list__item
                        .info-list__label Status:
                        .info-list__value 
                          | Active
                          .user-status.user-status_new-reg
                      li.info-list__item
                        .info-list__label Expiration Date:
                        .info-list__value 15/06/2015
                      li.info-list__item
                        .info-list__label Activation Date:
                        .info-list__value 15/06/2012

            #tab2.tab-pane.fade(role='tabpanel')
              .row
                .col-lg-9
                  .row
                    .col-md-6
                      ul.info-list
                        li.info-list__item
                          .info-list__label 
                            strong Balance
                        li.info-list__item
                          .info-list__label Available Balance:
                          .info-list__value $26.25
                        li.info-list__item
                          .info-list__label Blocked Amount:
                          .info-list__value $10.15
                        
                    .col-md-6
                      ul.info-list
                        li.info-list__item
                          .info-list__label 
                            strong Last Transaction Details
                        li.info-list__item
                          .info-list__label Date:
                          .info-list__value 15/06/2015 12:15 PM
                        li.info-list__item
                          .info-list__label Amount:
                          .info-list__value -$10.00
                        li.info-list__item
                          .info-list__label Description:
                          .info-list__value Card transfer to 5283 **** **** 4539
                      
             #tab3.tab-pane.fade(role='tabpanel')
              form.form-horizontal
                .row
                  .col-lg-5
                    .form-group
                      label.control-label.col-lg-3 Data range:
                      .col-lg-9
                        include ../blocks/datepicer

              .gridStyle(ng-grid="gridOptions1")
              //- include ../blocks/grid-empty

            #tab4.tab-pane.fade(role='tabpanel')
              .tabpanel_inner-width
                .form-group
                  p You are about to lock the card.
                    br
                    | Once locked you will be unable to use the card.
                .form-group
                  P Please select the lock type below:

                form(action="")
                  .form-group
                    .form-group
                      .radio
                        label
                          input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
                          | Option one is this and that—be sure to include why it's great
                    .form-group
                      .radio
                        label
                          input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
                          | Option two can be something else and selecting it will deselect option one
                    .form-group
                      .radio
                        label
                          input#optionsRadios3(type='radio', name='optionsRadios', value='option3')
                          | Option three is disabled
                  .btn-group_horizontal
                    button.btn.btn-primary(type='button', ng-click="lockCard()") Yes, Lock Card
                    button.btn.btn-default(type='button') No, Cancel
