.modal-content
  form.form-horizontal
    .modal-header
      h4#checkCardLabel.modal-title Select Card
    .modal-body

      ul.list_style.card-list_style
        li.card-checked
          .modal-card-item__wr
            .modal-card-item__text
              h3.item__title Card Name
              .item__text 5328 **** **** 0402
              .item__text $35,050.03
            .modal-card-item__checkbox-wr
              input(type="checkbox", value="", checked)
        li
          .modal-card-item__wr
            .modal-card-item__text
              h3.item__title Card Name
              .item__text 5328 **** **** 0402
              .item__text $35,050.03
            .modal-card-item__checkbox-wr
              input(type="checkbox", value="")
        li
          .modal-card-item__wr
            .modal-card-item__text
              h3.item__title Card Name
              .item__text 5328 **** **** 0402
              .item__text $35,050.03
            .modal-card-item__checkbox-wr
              input(type="checkbox", value="")

      .btn-group_horizontal.btn-group_right
        button.btn.btn-primary(type='button') Select
        button.btn.btn-default(type='button') Cancel
