extends ../layouts/default
block head
- pageTitle = 'Prego Payout';
block link
   -var selected = "companies";

block ng
  - var ngApp = "myApp";
  - var ngController = "MyCtrl2";

block append js
  script(src='js/ng-companies.js')

block content
  .container
    .row
      .col-sm-6
        h2.page-title My Companies
      .col-sm-6
        .btn-group_horizontal.btn-group_right
          button.btn.btn-primary.ngdialog-button.ngdialog-button-secondary(type='button', ng-click="joinCompany()")
            | join company
    .min-section.min-section__br-bg.min-section__pd
      ul.list_style
        //- li 
        //-   h3.item__title ASDF Entertainment
        //-     span Joined
        //-   .item-title__id ID 150.25.13.400
        //-   .item-title__text Oklahoma City, S Walker Ave Tulsa, E 73rd St
        //- li 
        //-   h3.item__title Ins Corporation
        //-     span Joined
        //-   .item-title__id ID 150.25.13.400
        //-   .item-title__text Oklahoma City, S Walker Ave Tulsa, E 73rd St
        //- li 
        //-   h3.item__title ASDF Entertainment
        //-     span Joined
        //-   .item-title__id ID 150.25.13.400
        //-   .item-title__text Oklahoma City, S Walker Ave Tulsa, E 73rd St
        //- li 
        //-   h3.item__title ASDF Entertainment
        //-     span Awaiting Canfirmation
        //-   .item-title__id ID 150.25.13.400
        //-   .item-title__text Oklahoma City, S Walker Ave Tulsa, E 73rd St
        li
          ul.min-list-info
            li.min-list-info__item
              .min-list-info__label Name:
              .min-list-info__value ASDF Entertainment
            li.min-list-info__item
              .min-list-info__label Company ID:
              .min-list-info__value 150.25.13.400
            li.min-list-info__item
              .min-list-info__label Address:
              .min-list-info__value 
                | S Walker Ave Tulsa 256, 
                span Address 2
                br 
                | 52446 OKLAHOMA CITY, UNITED STATES
        li
          ul.min-list-info
            li.min-list-info__item
              .min-list-info__label Name:
              .min-list-info__value ASDF Entertainment
            li.min-list-info__item
              .min-list-info__label Company ID:
              .min-list-info__value 150.25.13.400
            li.min-list-info__item
              .min-list-info__label Address:
              .min-list-info__value 
                | S Walker Ave Tulsa 256, 
                span Address 2
                br 
                | 52446 OKLAHOMA CITY, UNITED STATES
        li
          ul.min-list-info
            li.min-list-info__item
              .min-list-info__label Name:
              .min-list-info__value ASDF Entertainment
            li.min-list-info__item
              .min-list-info__label Company ID:
              .min-list-info__value 150.25.13.400
            li.min-list-info__item
              .min-list-info__label Address:
              .min-list-info__value 
                | S Walker Ave Tulsa 256, 
                span Address 2
                br 
                | 52446 OKLAHOMA CITY, UNITED STATES
