extends ../layouts/default

block head
- pageTitle = 'Prego Company';

block content
  .container
    h2.page-title Dashboard


    section.info-block.min-section.min-section__br-bg.min-section__pd.clearfix.alert.fade.in(role='alert')
      .section_btn-bottomm-right-wr
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') &times;
        header.min-section__header
          h3.min-section__title WELCOME TO YOUR DASHBOARD
        .row
          .col-lg-10
            .info-block__text
              p With this website portal, you will be able to manage your card accounts and send money between your multiple accounts with an easy and safe way of cutting money transfer costs.
              p Take a moment to understand how to portal works, and we will do our best to guide you with instructions throughout the portal for you to have a better understanding and performance.
              p This section is your dashboard. It is the quick access point for most of the services that you can explore the website.
        a(href="").btn.btn-primary.btn_bottom-right I UNDERSTAND

    .row.dysplay-tb
      .col-md-7.col-lg-8.dysplay-tb-c.dysplay-tb-c-l
        section.min-section.min-section__br-bg.min-section__pd
          header.min-section__header
            h3.min-section__title CARDS
          .min-section__content-wr
            .dash__card-list
              .min-section
                a(href="card-inner.html").one-card
                  .min-section__br-bg.min-section__pd.info-block
                    .more &#62;
                    .one-card__content
                      .row
                        .col-sm-8
                          h3.item__title Card Name
                            span Supplementary
                        .col-sm-4.item__text_right
                          | Expired
                          .user-status.user-status_error
                      .item__text 5328 **** **** 0402
                      .row
                        .col-sm-5
                          .item__text Expires 14/17
                        .col-sm-7
                          .item__text.item__text_right
                            | Balance: 
                            span USD $50,000.05

              .min-section
                a(href="card-inner.html").one-card
                  .min-section__br-bg.min-section__pd.info-block
                    .more &#62;
                    .one-card__content
                      .row
                        .col-sm-8
                          h3.item__title Card Name
                            span Supplementary
                        .col-sm-4.item__text_right
                          | Locked
                          .user-status.user-status_default
                      .item__text 5328 **** **** 0402
                      .row
                        .col-sm-5
                          .item__text Expires 14/17
                        .col-sm-7
                          .item__text.item__text_right
                            | Balance: 
                            span USD $50,000.05

        .row
          .col-sm-6.min-section
            a(href="send-money.html").btn.btn-lg.btn-block.btn-primary send money
          .col-sm-6.min-section
            a(href="").btn.btn-lg.btn-block.btn-primary lock card

        section.min-section.min-section__br-bg.min-section__pd
          header.min-section__header
            h3.min-section__title LATEST TRANSACTIONS
          .min-section__content-wr
            .min-section.min-section__br-bg.min-section__pd
              .row
                .col-sm-5
                  .item__text Payout From CX5YN001
                .col-sm-7
                  .item__text.item__text_right
                    | $890.00
              .row
                .col-sm-5
                  .item__text.item__text_min.item__text_mg-top 01.07.2015 12:34:55
                .col-sm-7
                  .item__text.item__text_right.item__text_min.item__text_mg-top
                    | Ref. No 234234234
            .min-section.min-section__br-bg.min-section__pd
              .row
                .col-sm-5
                  .item__text Expires 14/17
                .col-sm-7
                  .item__text.item__text_right
                    | Balance: 
                    span USD $35,050.03
              .row
                .col-sm-5
                  .item__text.item__text_min.item__text_mg-top 01.07.2015 12:34:55
                .col-sm-7
                  .item__text.item__text_right.item__text_min.item__text_mg-top
                    | Ref. No 234234234

      .col-md-5.col-lg-4.news-and-updates__block.dysplay-tb-c.dysplay-tb-c-r.min-section__br-bg_primary-light
        section.min-section__pd.section-z-index
          header.min-section__header
            h3.min-section__title NEWS & UPDATE
          .news-and-updates__list-wr
            ul.news-and-updates__list
              li.news-and-updates__list-item
                .news-and-updates__list-item-inner
                  h4.news-and-updates__item-title Mobile Update Verson 3.8
                  .news-and-updates__item-text
                    p New Version of PregoDashboard now can be updated directly from your device.
              li.news-and-updates__list-item
                .news-and-updates__list-item-inner
                  h4.news-and-updates__item-title PregoPay
                  .news-and-updates__item-text
                    p A digital wallet system is coming to your dashboard soon. To learn More: 
                    a(href="") http://pregopay.goprego.com/
              li.news-and-updates__list-item
                .news-and-updates__list-item-inner
                  h4.news-and-updates__item-title Insurance Card
                  .news-and-updates__item-text
                    p Travel Insurance that links into your PregoAccount, learn more and order here: 
                      a(href="") http://pregopay.goprego.com/
        footer.min-section__footer.text-center
          a(href="").min-section__footer-link SEE ALL NEWS & UPDATES
          //- footer.min-section__footer.text-center
          //-   a(href="").min-section__footer-link SEE ALL NEWS & UPDATES