.modal-content
  form.form-horizontal
    .modal-header
      h4#JoinCompanyLabel.modal-title Join company
    .modal-body
      .form-group.form-group-error.has-form-group-error
        label.control-label.col-sm-4(for="CompanyNumber") Company ID
        .col-sm-8
          input#CompanyNumber(type='text', name='CompanyNumber', value='').form-control
          span.help-block.help-blok__message
            i.glyphicon.glyphicon-remove
            | The company was not found.
      .btn-group_horizontal.btn-group_right
        button.btn.btn-primary(type='button', ng-click="joinCompany2()") Next
