.modal-content
  .modal-header.text-center
  .modal-body.text-center
    .form-group
      p
        img(src="img/check-img.png", alt="")
      p Your Join Request was sent to ASDF Entertainment!
      p Please stand by for approval.
    .btn-group_horizontal
      a.btn.btn-primary(href="") ок
