.modal-content
  .modal-header
  .modal-body.text-center
    .form-group
      p
        img(src="img/error-img.png", alt="")
      p The company was not found.
    .btn-group_horizontal
      a.btn.btn-primary(href="") Join company
