.modal-content
  .modal-header
    h4#JoinCompanyLabel.modal-title company
  .modal-body
    .form-group
      // h3.item__title ASDF Entertainment
      //   span Joined
      // .item-title__id ID 150.25.13.400
      // .item-title__text Oklahoma City, S Walker Ave Tulsa, E 73rd St
      ul.min-list-info
        li.min-list-info__item
          .min-list-info__label Name:
          .min-list-info__value ASDF Entertainment
        li.min-list-info__item
          .min-list-info__label Company ID:
          .min-list-info__value 150.25.13.400
        li.min-list-info__item
          .min-list-info__label Address:
          .min-list-info__value 
            | S Walker Ave Tulsa 256, 
            span Address 2
            br 
            | 52446 OKLAHOMA CITY, UNITED STATES

    .btn-group_horizontal.btn-group_right
      button.btn.btn-default(type='button', ng-click="joinCompany4()") search company
      button.btn.btn-primary(type='button', ng-click="joinCompany3()") confirm
