extends ../layouts/default

block head
  - pageTitle = 'Prego loader';

block content
  .container.loader-bg
    .loader-wr.loader-wr_sb.js-minHt
      .loader-2
        img(src="img/loader.svg", alt="")
    .welcome-block.center-min-block(style="position: relative;")
      .center-min-block__body

        .welcome-block__body_inner
          .text-center.welcome-block__text-top
            h2.center-min-block__title Welcome text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis purus libero, ultrices utnisidapibus porttitor nisl. Fusce semper risus dui, cursus consequat
