.modal-content
  .modal-header.text-center
  .modal-body.text-center
    .form-group
      p
        img(src="img/question.png", alt="")
      p Are you sure?
    .btn-group_horizontal
      a.btn.btn-primary(href="") yes
      a.btn.btn-default(href="") no
