extends ../layouts/default

block head
- pageTitle = 'Prego Mempers';

block link
  -var selected = 'members';

block ng
  - var ngApp = "myApp";
  - var ngController = "MyCtrl";

block append js
  script(src='js/ng-members.js')

block content
  .container
    .row
      .col-sm-6
        h2.page-title Members
      .col-sm-6
        .btn-group_horizontal.btn-group_right
          button.btn.btn-primary(type='button', data-toggle='modal', data-target=' #invitationsJoinRequestsModal')
            | JOIN REQUESTS
            span.btn-badge 5
          button.btn.btn-primary(type='button', data-toggle='modal', data-target='#inviteMembersModal')
            | INVITE MEMBERS

    .main-account__section.min-section.min-section__br-bg
      div(role='tabpanel')
        // Nav tabs
        .min-section__pd.min-section__pd-bt-none
          .row
            .col-sm-8.col-md-9.col-lg-10
              ul.nav.nav-tabs.nav-tub_custom(role='tablist')
                li.active(role='presentation')
                  a(href='#All', aria-controls='All', role='tab', data-toggle='tab') All
                li(role='presentation')
                  a(href='#Active', aria-controls='Active', role='tab', data-toggle='tab') Active
                li(role='presentation')
                  a(href='#PendingConfirmation', aria-controls='PendingConfirmation', role='tab', data-toggle='tab') Pending Confirmation
                li(role='presentation')
                  a(href='#Archived', aria-controls='Archived', role='tab', data-toggle='tab') Archived
            .col-sm-4.col-md-3.col-lg-2
              .filter-input
                input.form-control#inputSuccess2(type="text", aria-describedby="inputSuccess2Status", placeholder="Search members")
                span.icon.i-search.form-control-feedback(aria-hidden="true")

        // Tab panes
        .tab-content.min-section__pd
          #All.tab-pane.active.fade.in(role='tabpanel')
            .tabpanel_inner
              .gridStyle(ng-grid="gridOptions")
          #Active.tab-pane.fade(role='tabpanel')
            .tabpanel_inner-width
              p Active
           #PendingConfirmation.tab-pane.fade(role='tabpanel')
            .tabpanel_inner-width
              p Pending Confirmation
          #Archived.tab-pane.fade(role='tabpanel')
            .tabpanel_inner-width
              p Archived


  #inviteMembersModal.modal.fade(role='dialog', data-toggle="modal", aria-labelledby='confirmActionLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        form.form-horizontal
          .modal-header
            button.close.modal__close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h4#confirmActionLabel.modal-title Invite members
          .modal-body
            .row
              label.control-label.col-sm-2(for="inputEmail") E-mail
              .col-sm-10
                tags-input.form-contro#inputEmail(ng-model="tags", display-property="name", placeholder="+ Add email")

          .modal-footer
            button.btn.btn-primary(type='button', data-toggle='modal',data-dismiss="modal", data-target='#invitationsSendModal') Send invites

  #invitationsSendModal.modal.fade(role='dialog', data-toggle="modal", aria-labelledby='confirmActionLabel', aria-hidden='true')
    .modal-dialog.modal-md
      .modal-content
        .modal-body
          p.invitations-send__text The invitations were send successfully.
        .modal-footer.invitations-send__footer
          a(href="", data-dismiss="modal").btn.btn-primary Ok

  #invitationsJoinRequestsModal.modal.fade(role='dialog', data-toggle="modal", aria-labelledby='confirmActionLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        form.form-horizontal
          .modal-header
            button.close.modal__close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h4#JoinRequestsLabel.modal-title Join Requests
          .modal-body
            ul.join-requests__list
              li.join-requests__list-item
                .row
                  .col-sm-6.join-list__left-block
                    .user-info__name Melissa Campbell
                    .user-info__mail melissa@gmail.com
                    .user-info__phone +1-567-244-5678
                  .col-sm-6.join-list__right-block
                    .btn-group_horizontal.btn-group_right
                      a(href="").btn.btn-primary Confirm
                      a(href="").btn.btn-default Reject
              li.join-requests__list-item
                .row
                  .col-sm-6.join-list__left-block
                    .user-info__name Melissa Campbell
                    .user-info__mail melissa@gmail.com
                    .user-info__phone +1-567-244-5678
                  .col-sm-6.join-list__right-block
                    .btn-group_horizontal.btn-group_right
                      a(href="").btn.btn-primary Confirm
                      a(href="").btn.btn-default Reject
              li.join-requests__list-item
                .row
                  .col-sm-6.join-list__left-block
                    .user-info__name Melissa Campbell
                    .user-info__mail melissa@gmail.com
                    .user-info__phone +1-567-244-5678
                  .col-sm-6.join-list__right-block
                    .btn-group_horizontal.btn-group_right
                      a(href="").btn.btn-primary Confirm
                      a(href="").btn.btn-default Reject
              li.join-requests__list-item
                .row
                  .col-sm-6.join-list__left-block
                    .user-info__name Melissa Campbell
                    .user-info__mail melissa@gmail.com
                    .user-info__phone +1-567-244-5678
                  .col-sm-6.join-list__right-block
                    .btn-group_horizontal.btn-group_right
                      a(href="").btn.btn-primary Confirm
                      a(href="").btn.btn-default Reject
              li.join-requests__list-item
                .row
                  .col-sm-6.join-list__left-block
                    .user-info__name Melissa Campbell
                    .user-info__mail melissa@gmail.com
                    .user-info__phone +1-567-244-5678
                  .col-sm-6.join-list__right-block
                    .btn-group_horizontal.btn-group_right
                      a(href="").btn.btn-primary Confirm
                      a(href="").btn.btn-default Reject
              li.join-requests__list-item
                .row
                  .col-sm-6.join-list__left-block
                    .user-info__name Melissa Campbell
                    .user-info__mail melissa@gmail.com
                    .user-info__phone +1-567-244-5678
                  .col-sm-6.join-list__right-block
                    .btn-group_horizontal.btn-group_right
                      a(href="").btn.btn-primary Confirm
                      a(href="").btn.btn-default Reject
