extends ../layouts/default
block head
- pageTitle = 'Profile';
block link
   -var selected = "profile";


block ng
  - var ngApp = "myApp";
  - var ngController = "MyCtrl2";


block append js
  script(src='js/ng-companies.js')
  script.
      $(function() {
        $('input[name="birthdate"]').daterangepicker({
            singleDatePicker: true,
            //- showDropdowns: true,
            opens: 'left'
          },
          function(start, end, label) {
              var years = moment().diff(start, 'years');
          });
      });

block content
  .container.loader-bg
    .loader-wr.loader-wr_sb.js-minHt
      .loader-2
        img(src="img/loader.svg", alt="")
    h2.page-title account settings
    .min-section.min-section__br-bg.min-section__pd
      .clearfix
        div(role='tabpanel')
          // Nav tabs
          .main-filter-block
            .tabs__in-min-section
              ul.nav.nav-tabs.nav-tub_custom(role='tablist')
                li.active(role='presentation')
                  a(href='#tab1', aria-controls='tab1', role='tab', data-toggle='tab') Personal Information
                li(role='presentation')
                  a(href='#tab2', aria-controls='tab2', role='tab', data-toggle='tab') Phone
                li(role='presentation')
                  a(href='#tab3', aria-controls='tab3', role='tab', data-toggle='tab') ID Information
                li(role='presentation')
                  a(href='#tab4', aria-controls='tab4', role='tab', data-toggle='tab') Change Password

          // Tab panes
          .tab-content
            #tab1.tab-pane.active.fade.in(role='tabpanel')
              form(action="").form-horizontal
                .account-edit__form-wr
                  include ../blocks/personal-information

                .btn-group_horizontal.btn-group_right
                  button.btn.btn-default(type='button', ng-click="joinCompany4()") Cancel
                  button.btn.btn-primary(type='button', ng-click="joinCompany3()") Save


            #tab2.tab-pane.fade(role='tabpanel')
              form(action="").form-horizontal
                .account-edit__form-wr
                  .row
                    .col-lg-6
                      .form-group.form-group-message.has-form-group-success
                        label.control-label.col-lg-5 Mobile Phone
                        .col-lg-7.phone-input-wr
                          input(type="text", value="e.g. +1 702 123 4567").form-control
                          span.help-block.help-blok__message
                            i.icon.i-success.validation-icon.validation-icon
                            | The company was not found.
                    .col-lg-6.phone-btn-wr
                      button.btn.btn-primary.btn-block(type='button', ng-click="sendTheCode2()") send the code to that number


             #tab3.tab-pane.fade(role='tabpanel')
              form(action="").form-horizontal
                .account-edit__form-wr
                  .form-group
                    label.control-label.col-lg-4 Name as Appears on Passport
                    .col-lg-8
                      input(type="text", value="James Kimmel").form-control
                  .form-group
                    label.control-label.col-lg-4 Passport Number
                    .col-lg-8
                      input(type="text", value="PR123456").form-control
                  .form-group
                    label.control-label.col-lg-4 Date of issue
                    .col-lg-4
                      include ../blocks/datepicer-single
                  .form-group
                    label.control-label.col-lg-4 Date of expiration
                    .col-lg-4
                      include ../blocks/datepicer-single
                  .form-group
                    label.control-label.col-lg-4 Countryof Issue
                    .col-lg-8
                      select.form-control
                        option(value="0") Selected
                        option(value="1") 1
                        option(value="2") 2
                        option(value="3") 3
                  .form-group
                    label.control-label.col-lg-4 Scan Passport
                    .col-lg-8
                      .form-icon-group
                        span.form-icon: i.icon.i-download
                        input(type="text", placeholder="File nema", value="{{file_.name}}", ngf-select='', ngf-change='upload($files)', ngf-multiple='multiple').form-control

                  .form-group
                    .col-lg-8.col-lg-offset-4
                      .document-info
                        .document-info__title Passport
                        .clearfix
                          .document-info__photo
                            img(src="img/doc-photo.png", alt="").img-responsive
                          .document-info__text
                            .document-info__item Name: 
                              span.document-info__value James
                            .document-info__item Passport #: 
                              span.document-info__value **************
                            .document-info__item Date Issued: 
                              span.document-info__value 12/11/14
                            .document-info__item Date Expiration: 
                              span.document-info__value 12/12/17
                            .document-info__item Country: 
                              span.document-info__value 
                        .clearfix 
                          span.arrows-right.pull-right <<<<<<
                          | XXXXXXXXXXXXXXXXXXXXXXXX


                .form-group
                  .col-lg-12
                    .btn-group_horizontal.btn-group_right
                      button.btn.btn-default(type='button', ng-click="joinCompany4()") Cancel
                      button.btn.btn-primary(type='button', ng-click="joinCompany3()") Save


            #tab4.tab-pane.fade(role='tabpanel')
              form(action="").form-horizontal
                .account-edit__form-wr
                  .form-group
                    label.control-label.col-lg-4 Old Password
                    .col-lg-8
                      input(type="password", value="").form-control
                  .form-group
                    label.control-label.col-lg-4 New Password
                    .col-lg-8
                      input(type="password", value="").form-control
                  .form-group
                    label.control-label.col-lg-4 Confirm Password
                    .col-lg-8
                      input(type="password", value="").form-control
                .form-group
                  .col-lg-12
                    button.btn.btn-primary.pull-right(type='button', ng-click="sendTheCode()") Update
