extends ../layouts/default
block head
- pageTitle = 'Prego Reports';
block link
  -var selected = "reports";
block content
    .container
      h2.page-title Reports

      .coming-soon__wr
        h3.coming-soon
          | Coming 
          span soon
  //- .container
  //-   h2.page-title Reports
  //-   .row
  //-      .col-sm-8
  //-         section.min-section.min-section__br-bg.min-section__pd
  //-           header.min-section__header
  //-               h3.min-section__title recent
  //-             .monthly-payment__wr
  //-       .col-sm-4
  //-         section.min-section.min-section__br-bg.min-section__pd
  //-           header.min-section__header
  //-               h3.min-section__title transaction history
  //-             .monthly-payment__wr
  //-               p A PDF file will be generated and downloaded to your computer, check your Download Folder for the generated Trasaction Report.
  //-           footer.min-section__footer.clearfix
  //-             a(href="").btn.btn-primary.pull-right create report


