.modal-content
  form.form-horizontal
    .modal-header
      h4.modal-title enter the code 
    .modal-body
      .form-group
        .col-sm-12
          span.help-form-text You should receive at +1 702 123 4567 with your confirmation code soon.
      .row
        .col-md-7
          .form-group
            label.control-label.col-sm-3 Code
            .col-sm-9
              input#CompanyNumber(type='text', name='CompanyNumber', value='').form-control
        .col-md-5
          .btn-group_horizontal
            button.btn.btn-primary(type='button') Confirm
            button.btn.btn-default(type='button') Cancel

      .btn-group_horizontal
        button.btn.btn-default(type='button') Resend
        span.help-form-text Plese wait 5 minutes before requesting another code.
