.modal-content
  form.form-horizontal
    .modal-header
      h4#JoinCompanyLabel.modal-title enter code 
    .modal-body
      .form-group
        label.control-label.col-sm-3 Code
        .col-sm-9
          input#CompanyNumber(type='text', name='CompanyNumber', value='').form-control
      .btn-group_horizontal.btn-group_right
        button.btn.btn-primary(type='button') Ok
