extends ../layouts/default
block head
- pageTitle = 'Prego Payout';
block link
   -var selected = "send";

block ng
  - var ngApp = "myApp";
  - var ngController = "MyCtrl2";

block append js
  script(src='js/ng-companies.js')

block content
  .container
    h2.page-title Send Money
    .min-section.min-section__br-bg.min-section__pd
      p Select where you want to transfer money from and the destination you want to transfer money to:
      .step-list
        .step-list__item
          .step-list__item-number 
            i.glyphicon.glyphicon-ok
          .step-list__item-contents
            .step-list__item-label From:
            .row.item-contents__cards-wr
              .col-md-6
                section.min-section.min-section__br-bg.min-section__pd
                  .row
                    .col-sm-8
                      h3.item__title My Primary Card
                        span Primary
                    .col-sm-4.item__text_right
                      | Active
                      .user-status.user-status_new-reg
                  .item__text 5328 **** **** 0402
                  .row
                    .col-sm-5
                      .item__text Expires 14/17
                    .col-sm-7
                      .item__text.item__text_right
                        | Balance: 
                        strong USD $35,050.03

      .step-list
        .step-list__item
          .step-list__item-number.step-list__danger
            i.glyphicon.glyphicon-remove
          .step-list__item-contents
            .clearfix
              .step-list__item-label.pull-left To:
              .radio-inline__group
                .radio-inline
                  label
                    input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
                    | My Cards
                .radio-inline
                  label
                    input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
                    | Other Card

            .row.item-contents__cards-wr
              .col-md-6
                section.min-section.min-section__br-bg.min-section__pd
                  .row
                    .col-sm-8
                      h3.item__title Card Name
                        span Supplementary
                    .col-sm-4.item__text_right
                      | Expired
                      .user-status.user-status_error
                  .item__text 5328 **** **** 0402
                  .row
                    .col-sm-5
                      .item__text Expires 14/17
                    .col-sm-7
                      .item__text.item__text_right
                        | Balance: 
                        strong USD $50,000.05
            .row
              .col-sm-6
                section.min-section.min-section__br-bg.min-section__pd
                  .form-group
                    .item__text.text-center Please enter 16 digit card number:
                  .form-group.has-success.has-feedback
                    input(type="text", value="123421 2314 24").form-control
                    span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')
            .row
              .col-sm-6
                section.min-section.min-section__br-bg.min-section__pd
                  .form-group
                    .item__text.text-center Please enter 16 digit card number:
                  .form-group.has-error.has-feedback
                    input(type="text", value="123421 2314 24").form-control
                    span.glyphicon.glyphicon-remove.form-control-feedback(aria-hidden='true')
                    span.help-block.help-blok__message
                      | The company was not found.


      .step-list
        .step-list__item
          .step-list__item-number 3
          .step-list__item-contents
            .form-inline.amount-input
              .form-group.has-error.has-feedback
                label.control-label.control-label__custom.pull-left Amount:
                .pull-left
                  input(type="number", placeholder="USD $").form-control
                  span.form-control__caption
                    span *Min: 0.00
                    span *Max: 5 000 000
                  span.help-block.help-blok__message
                    | The company was not found.

      .btn-group_horizontal
        button.btn.btn-primary.btn-disable(type='button', disabled="disabled") Transfer
        button.btn.btn-default(type='button') Cancel
    
    p.help-info
      span.help-info__item Active 
        span.user-status.user-status_new-reg
      span.help-info__item Expired 
        span.user-status.user-status_error
      span.help-info__item Verifying 
        span.user-status
