extends ../layouts/default
block head
- pageTitle = 'Sign up 1';

//- block link
//-    -var selected = "profile";

block authorisedMenu
  - authorisedMenu = false;

block wr
  - authorisation = "log-out"


block ng
  - var ngApp = "myApp";
  - var ngController = "MyCtrl2";


block append js
  script(src='js/ng-companies.js')
  script.
      $(function() {
        $('input[name="birthdate"]').daterangepicker({
            singleDatePicker: true,
            //- showDropdowns: true,
            opens: 'left'
          },
          function(start, end, label) {
              var years = moment().diff(start, 'years');
          });
      });

block content
  .container
    .center-min-block.center-lg-bl.center-rel-wr__for-right-hint
      .center-min-block__body

        .loginbox
          include ../blocks/sign-up-caption

        .left-form-block__wr
          header.center-min-block__header.row
            h2.center-min-block__header-title.col-sm-9
              .pull-left.center-min-block__header-icon_wr
                img.center-min-block__header-icon(src="img/sign-1.png", alt="")
              span.center-min-block__header-title_text review application 
            .col-sm-3
              .sign-up__step-block
                span.step-number Step 5
                |  of 5
          form(action="").form-horizontal
            .editable-form-group.js-editable-form-group.inactive
              .form-group
                .col-lg-12
                  strong Personal details
                  .btn-edit-group
                    button(type="button").btn.btn-sm.btn-primary.js-btn-data-edit
                      | Edit &nbsp;
                      i.icon.i-edit-i
                    .btn-group-editing
                      button(type="button").btn.btn-sm.btn-primary.js-btn-data-save Save

              .row
                .col-sm-4 Your name:
                .col-sm-8
                  .row
                    .form-group__inner.col-sm-6 Test
                    .form-group__inner.col-sm-6 Test
              .row
                .col-sm-4 Date of Brith:
                .col-sm-8
                  .row
                    .form-group__inner.col-sm-4 1
                    .form-group__inner.col-sm-4 2
                    .form-group__inner.col-sm-4 3
                  //- include ../blocks/datepicer-single
              .form-group
                .col-sm-4 Email:
                .col-sm-8 test@mail.ru
              .form-group
                .col-sm-4 Gender:
                .col-sm-8 Male
              .form-group
                .col-sm-4 Nationality:
                .col-sm-8 0

            hr.hr-margin-bottom
            .editable-form-group.js-editable-form-group.inactive
              .form-group
                .col-sm-12
                  strong Contact Details
                  .btn-edit-group
                    button(type="button").btn.btn-sm.btn-primary.js-btn-data-edit
                      | Edit &nbsp;
                      i.icon.i-edit-i
                    .btn-group-editing
                      button(type="button").btn.btn-sm.btn-primary.js-btn-data-save Save

              .form-group
                .col-sm-8.col-sm-offset-4 Sovetskaya str., 1/10
              .form-group
                .col-sm-8.col-sm-offset-4 Sovetskaya str., 1/10
              .row
                .col-sm-8.col-sm-offset-4
                  .row
                    .form-group__inner.col-sm-4 Grodno
                    .form-group__inner.col-sm-4 Grodno
                    .form-group__inner.col-sm-4 Grodno

            hr.hr-margin-bottom
            .editable-form-group.js-editable-form-group.inactive
              .form-group
                .col-sm-12
                  strong Shipping Address
                  .btn-edit-group
                    button(type="button").btn.btn-sm.btn-primary.js-btn-data-edit
                      | Edit &nbsp;
                      i.icon.i-edit-i
                    .btn-group-editing
                      button(type="button").btn.btn-sm.btn-primary.js-btn-data-save Save

              .form-group
                .col-sm-8.col-sm-offset-4 Sovetskaya str., 1/10
              .form-group
                .col-sm-8.col-sm-offset-4 Sovetskaya str., 1/10
              .row
                .col-sm-8.col-sm-offset-4
                  .row
                    .form-group__inner.col-sm-4 Grodno
                    .form-group__inner.col-sm-4 23000
                    .form-group__inner.col-sm-4 Belarus

            hr.hr-margin-bottom
            .editable-form-group.js-editable-form-group.inactive
              .form-group
                .col-sm-12
                  strong Mobile phone
                  .btn-edit-group
                    button(type="button").btn.btn-sm.btn-primary.js-btn-data-edit
                      | Edit &nbsp;
                      i.icon.i-edit-i
                    .btn-group-editing
                      button(type="button").btn.btn-sm.btn-primary.js-btn-data-save Save

              .form-group
                .col-sm-4 Mobile number:
                .col-sm-8 +375 029 23 2345 3245

            hr.hr-margin-bottom
            .editable-form-group.js-editable-form-group.inactive
              .form-group
                .col-sm-12
                  strong Upload documents:
                  .btn-edit-group
                    button(type="button").btn.btn-sm.btn-primary.js-btn-data-edit
                      | Edit &nbsp;
                      i.icon.i-edit-i
                    .btn-group-editing
                      button(type="button").btn.btn-sm.btn-primary.js-btn-data-save Save

              .row
                .col-sm-4 Name as appears on ID:
                .col-sm-8
                  .row
                    .form-group__inner.col-sm-6 First name
                    .form-group__inner.col-sm-6 Last name

              .form-group
                .col-sm-4 Official ID number:
                .col-sm-8 12343245

              .form-group
                .col-sm-4 Country of Issue:
                .col-sm-8 Test

              .form-group
                .col-sm-4 Upload proof of ID:
                .col-sm-8 Test

              .form-group
                .col-sm-4 Upload proof of address:
                .col-sm-8 Test


            hr.hr-margin-bottom
            .editable-form-group.js-editable-form-group.inactive
              .form-group
                .col-sm-12
                  strong Company
                  .btn-edit-group
                    button(type="button").btn.btn-sm.btn-primary.js-btn-data-edit
                      | Edit &nbsp;
                      i.icon.i-edit-i
                    .btn-group-editing
                      button(type="button").btn.btn-sm.btn-primary.js-btn-data-save Save

              .form-group
                .col-sm-4 Company name:
                .col-sm-8 Test test


            .btn-group_horizontal.btn-group_right.btn-form-bottom
              button.btn.btn-default(type='button') Cancel
              a(href="sign-up-2.html").btn.btn-primary Next