extends ../layouts/default
block head
- pageTitle = 'Sign up 1';

//- block link
//-    -var selected = "profile";

block authorisedMenu
  - authorisedMenu = false;

block wr
  - authorisation = "log-out"


block ng
  - var ngApp = "myApp";
  - var ngController = "MyCtrl2";


block append js
  script(src='js/ng-companies.js')
  script.
      $(function() {
        $('input[name="birthdate"]').daterangepicker({
            singleDatePicker: true,
            //- showDropdowns: true,
            opens: 'left'
          },
          function(start, end, label) {
              var years = moment().diff(start, 'years');
          });
      });

block content
  .container
    .center-min-block.center-lg-bl.center-rel-wr__for-right-hint
      .center-min-block__body.loader-bg
        .loader-wr
          .loader-2(title='1')
            img(src="img/loader.svg", alt="")
        .loginbox
          include ../blocks/sign-up-caption

        .left-form-block__wr
          header.center-min-block__header.row
            h2.center-min-block__header-title.col-sm-9
              .pull-left.center-min-block__header-icon_wr
                img.center-min-block__header-icon(src="img/sign-1.png", alt="")
              span.center-min-block__header-title_text Personal information
            .col-sm-3
              .sign-up__step-block
                span.step-number Step 1
                |  of 5
          form(action="").form-horizontal

            include ../blocks/personal-information

            .btn-group_horizontal.btn-group_right.btn-form-bottom
              //- button.btn.btn-default(type='button') Cancel
              a(href="sign-up-2.html").btn.btn-primary Next