extends ../layouts/default
block head
- pageTitle = 'Sign up 2';

//- block link
//-    -var selected = "profile";

block authorisedMenu
  - authorisedMenu = false;

block wr
  - authorisation = "log-out"


block ng
  - var ngApp = "myApp";
  - var ngController = "MyCtrl2";


block append js
  script(src='js/ng-companies.js')
  script.
      $(function() {
        $('input[name="birthdate"]').daterangepicker({
            singleDatePicker: true,
            //- showDropdowns: true,
            opens: 'left'
          },
          function(start, end, label) {
              var years = moment().diff(start, 'years');
          });
      });

block content
  .container
    .center-min-block.center-lg-bl.center-rel-wr__for-right-hint
      .center-min-block__body

        .loginbox
          include ../blocks/sign-up-caption

        .left-form-block__wr
          header.center-min-block__header.row
            h2.center-min-block__header-title.col-sm-9
              .pull-left.center-min-block__header-icon_wr
                img.center-min-block__header-icon(src="img/phone-big.png", alt="")
              span.center-min-block__header-title_text Phone
            .col-sm-3
              .sign-up__step-block
                span.step-number Step 2
                |  of 5
          .phone-without-btn
            form(action="").form-horizontal

              .row
                .col-lg-6.phone-input-wr
                  .form-group.form-group-message.has-form-group-success
                    label.control-label.col-lg-4 Mobile Phone
                    .col-lg-8
                      input(type="text", value="e.g. +1 702 123 4567").form-control
                      span.help-block.help-blok__message
                        i.icon.i-success.validation-icon.validation-icon
                        | The company was not found.
                .col-lg-6.phone-btn-wr
                  .form-group
                    button.btn.btn-primary.btn-block(type='button', ng-click="sendTheCode2()") send the code to that number

              .btn-group_horizontal.btn-form-bottom
                a(href="sign-up-3.html").btn.btn-primary.pull-right Next

            a(href="sign-up-1.html").btn.btn-default.pull-left back

