extends ../layouts/default
block head
- pageTitle = 'Sign up 4';

//- block link
//-    -var selected = "profile";

block authorisedMenu
  - authorisedMenu = false;

block wr
  - authorisation = "log-out"


block ng
  - var ngApp = "myApp";
  - var ngController = "MyCtrl2";


block append js
  script(src='js/ng-companies.js')
  script.
      $(function() {
        $('input[name="birthdate"]').daterangepicker({
            singleDatePicker: true,
            //- showDropdowns: true,
            opens: 'left'
          },
          function(start, end, label) {
              var years = moment().diff(start, 'years');
          });
      });

block content
  .container
    .center-min-block.center-lg-bl.center-rel-wr__for-right-hint
      .center-min-block__body

        .loginbox
          include ../blocks/sign-up-caption

        .left-form-block__wr
          header.center-min-block__header.row
            h2.center-min-block__header-title.col-sm-9
              .pull-left.center-min-block__header-icon_wr
                img.center-min-block__header-icon(src="img/add-img.png", alt="")
              span.center-min-block__header-title_text connect to company
            .col-sm-3
              .sign-up__step-block
                span.step-number Step 4
                |  of 5
          form(action="").form-horizontal

            .row
              .col-lg-12
                .form-group.form-group-message.has-form-group-success
                  label.control-label.col-lg-4 Company ID:
                  .col-lg-8
                    .input-group
                      input(type="text", value="e.g. +1 702 123 4567").form-control
                      .input-group-btn
                        button.btn.btn-default.btn__search-company.ngdialog-button.ngdialog-button-secondary(type='button', ng-click="joinCompany2()")
                          i.icon.i-search

                .form-group.form-group-message.has-form-group-success
                  .col-lg-12
                    span.help-block.help-blok__message
                      i.icon.i-success.validation-icon.validation-icon
                      | Your Join Request was sent to ASDF Entertainment! 

            .btn-group_horizontal.btn-form-bottom
              //- button.btn.btn-default(type='button') Cancel
              a(href="sign-up-5.html").btn.btn-primary.pull-right Next

          a(href="sign-up-3.html").btn.btn-default.pull-left back
