extends ../layouts/default
block head
- pageTitle = 'Sign up 3';

//- block link
//-    -var selected = "profile";

block authorisedMenu
  - authorisedMenu = false;

block wr
  - authorisation = "log-out"


block ng
  - var ngApp = "myApp";
  - var ngController = "MyCtrl2";


block append js
  script(src='js/ng-companies.js')
  script.
      $(function() {
        $('input[name="birthdate"]').daterangepicker({
            singleDatePicker: true,
            //- showDropdowns: true,
            opens: 'left'
          },
          function(start, end, label) {
              var years = moment().diff(start, 'years');
          });
      });

block content
  .container
    .center-min-block.center-lg-bl.center-rel-wr__for-right-hint
      .center-min-block__body

        .loginbox
          include ../blocks/sign-up-caption

        .left-form-block__wr
          header.center-min-block__header.row
            h2.center-min-block__header-title.col-sm-9
              .pull-left.center-min-block__header-icon_wr
                img.center-min-block__header-icon(src="img/id-img.png", alt="")
              span.center-min-block__header-title_text ID INformation
            .col-sm-3
              .sign-up__step-block
                span.step-number Step 3
                |  of 5

          form(action="").form-horizontal
            .form-group
              label.control-label.col-lg-4 Name as Appears on Passport
              .col-lg-8
                input(type="text", value="James Kimmel").form-control
            .form-group
              label.control-label.col-lg-4 Passport Number
              .col-lg-8
                input(type="text", value="PR123456", disabled).form-control
            .form-group
              label.control-label.col-lg-4 Date of issue
              .col-lg-5
                include ../blocks/datepicer-single
            .form-group
              label.control-label.col-lg-4 Date of expiration
              .col-lg-5
                include ../blocks/datepicer-single
            .form-group
              label.control-label.col-lg-4 Countryof Issue
              .col-lg-8
                select.form-control(data-jcf='{"wrapNative": false, "wrapNativeOnMobile": true, "fakeDropInBody": false, "useCustomScroll": false}', disabled)
                  option(value="0") Selected
                  option(value="1") 1
                  option(value="2") 2
                  option(value="3") 3
            .form-group
              label.control-label.col-lg-4 Scan Passport
              .col-lg-8
                .form-icon-group
                  span.form-icon: i.icon.i-download
                  input(type="text", placeholder="File nema", value="{{file_.name}}", ngf-select='', ngf-change='upload($files)', ngf-multiple='multiple').form-control

            .form-group
              .col-lg-8.col-lg-offset-4
                .document-info
                  .document-info__title Passport
                  .clearfix
                    .document-info__photo
                      img(src="img/doc-photo.png", alt="").img-responsive
                    .document-info__text
                      .document-info__item Name: 
                        span.document-info__value James
                      .document-info__item Passport #: 
                        span.document-info__value **************
                      .document-info__item Date Issued: 
                        span.document-info__value 12/11/14
                      .document-info__item Date Expiration: 
                        span.document-info__value 12/12/17
                      .document-info__item Country: 
                        span.document-info__value 
                  .clearfix 
                    span.arrows-right.pull-right <<<<<<
                    | XXXXXXXXXXXXXXXXXXXXXXXX

            .btn-group_horizontal.btn-form-bottom
              a(href="sign-up-2.html").btn.btn-default.pull-left back
              a(href="sign-up-4.html").btn.btn-primary.pull-right Next