h4 BankDetails

.account__top-allert_wr
  +alert("alert-success account__top-allert")
    i.icon.i-success
    | Your changes have been saved.

button.btn.btn-primary(type='button', data-toggle='modal', data-target='#confirmActionModal')
    | Launch demo modal

// Modal
#confirmActionModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='confirmActionLabel', aria-hidden='true')
  .modal-dialog.modal-md
    .modal-content
      .modal-header
        button.close.modal__close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4#confirmActionLabel.modal-title Confirm Action
      .modal-body
        | You have attempted to leave this page. If you leave it now your progress will be lost. Are you sure you want to leave this page?
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Stay on page 
        button.btn.btn-primary(type='button') Leave page

