.gridstyle.ng-scope.ngGrid.ng1431435195569.unselectable(ng-grid='membersGrid')
   .ngTopPanel.ng-scope(ng-class="{'ui-widget-header':jqueryUITheme, 'ui-corner-top': jqueryUITheme}", ng-style='topPanelStyle()', style='width: 100%; height: 30px;')
      .ngGroupPanel.ng-hide(ng-show='showGroupPanel()', ng-style='groupPanelStyle()', style='width: 100%; height: 32px;')
         .ngGroupPanelDescription.ng-binding(ng-show='configGroups.length == 0') Drag a column header here and drop it to group by that column.
         ul.ngGroupList.ng-hide(ng-show='configGroups.length > 0')
      .ngHeaderContainer(ng-style='headerStyle()', style='width: 100%; height: 30px;')
         .ngHeaderScroller(ng-header-row='', ng-style='headerScrollerStyle()', style='height: 30px;')
            // ngRepeat: col in renderedColumns
            .ngHeaderCell.ng-scope.col0.colt0(ng-style='{ height: col.headerRowHeight }', ng-repeat='col in renderedColumns', ng-class='col.colIndex()', style='height: 30px;')
               .ngVerticalBar.ngVerticalBarVisible(ng-style='{height: col.headerRowHeight}', ng-class='{ ngVerticalBarVisible: !$last }', style='height: 30px;') &nbsp;
               | &#x9;
               div(ng-header-cell='')
                  .ngHeaderSortColumn.ngSorted(ng-style="{'cursor': col.cursor}", ng-class="{ 'ngSorted': !col.noSortVisible() }", draggable='true', style='cursor: pointer;')
                     .ngHeaderText.ng-binding.colt0(ng-click='col.sort($event)', ng-class="'colt' + col.index") Name
                     .ngSortButtonDown(ng-click='col.sort($event)', ng-show='col.showSortButtonDown()')
                     .ngSortButtonUp.ng-hide(ng-click='col.sort($event)', ng-show='col.showSortButtonUp()')
                     .ngSortPriority.ng-binding
                     .ng-hide.ngUnPinnedIcon(ng-class='{ ngPinnedIcon: col.pinned, ngUnPinnedIcon: !col.pinned }', ng-click='togglePin(col)', ng-show='col.pinnable')
                  .ngHeaderGrip.ng-scope.ng-hide(ng-show='col.resizable', ng-click='col.gripClick($event)', ng-mousedown='col.gripOnMouseDown($event)')
            // end ngRepeat: col in renderedColumns
            .ngHeaderCell.ng-scope.col1.colt1(ng-style='{ height: col.headerRowHeight }', ng-repeat='col in renderedColumns', ng-class='col.colIndex()', style='height: 30px;')
               .ngVerticalBar(ng-style='{height: col.headerRowHeight}', ng-class='{ ngVerticalBarVisible: !$last }', style='height: 30px;') &nbsp;
               | &#x9;
               div(ng-header-cell='')
                  .ngHeaderSortColumn(ng-style="{'cursor': col.cursor}", ng-class="{ 'ngSorted': !col.noSortVisible() }", style='cursor: pointer;', draggable='true')
                     .ngHeaderText.ng-binding.colt1(ng-click='col.sort($event)', ng-class="'colt' + col.index") Allowance
                     .ngSortButtonDown.ng-hide(ng-click='col.sort($event)', ng-show='col.showSortButtonDown()')
                     .ngSortButtonUp.ng-hide(ng-click='col.sort($event)', ng-show='col.showSortButtonUp()')
                     .ngSortPriority.ng-binding
                     .ng-hide.ngUnPinnedIcon(ng-class='{ ngPinnedIcon: col.pinned, ngUnPinnedIcon: !col.pinned }', ng-click='togglePin(col)', ng-show='col.pinnable')
                  .ngHeaderGrip.ng-scope.ng-hide(ng-show='col.resizable', ng-click='col.gripClick($event)', ng-mousedown='col.gripOnMouseDown($event)')
            // end ngRepeat: col in renderedColumns
      //div(ng-grid-menu='')
         .ngHeaderButton.ng-scope.ng-hide(ng-show='showColumnMenu || showFilter', ng-click='toggleShowMenu()')
            .ngHeaderButtonArrow
         .ngColMenu.ng-scope.ng-hide(ng-show='showMenu')
            .ng-hide(ng-show='showFilter')
               input.ng-pristine.ng-untouched.ng-valid(placeholder='Search...', type='text', ng-model='filterText')
            .ng-hide(ng-show='showColumnMenu')
               span.ngMenuText.ng-binding Choose Columns:
               ul.ngColList
                  // ngRepeat: col in columns | ngColumns
                  li.ngColListItem.ng-scope(ng-repeat='col in columns | ngColumns')
                     label.ng-binding
                        input.ngColListCheckbox.ng-pristine.ng-untouched.ng-valid(ng-disabled='col.pinned', type='checkbox', ng-model='col.visible')
                        | Name
                     | &#x9;&#x9;&#x9;&#x9;
                     a.ngGroupIcon(title='Group By', ng-class='col.groupedByClass()', ng-show='col.groupable && col.visible', ng-click='groupBy(col)')
                     | &#x9;&#x9;&#x9;&#x9;
                     span.ngGroupingNumber.ng-binding.ng-hide(ng-show='col.groupIndex > 0') 0
                  // end ngRepeat: col in columns | ngColumns
                  li.ngColListItem.ng-scope(ng-repeat='col in columns | ngColumns')
                     label.ng-binding
                        input.ngColListCheckbox.ng-pristine.ng-untouched.ng-valid(ng-disabled='col.pinned', type='checkbox', ng-model='col.visible')
                        | Allowance
                     | &#x9;&#x9;&#x9;&#x9;
                     a.ngGroupIcon(title='Group By', ng-class='col.groupedByClass()', ng-show='col.groupable && col.visible', ng-click='groupBy(col)')
                     | &#x9;&#x9;&#x9;&#x9;
                     span.ngGroupingNumber.ng-binding.ng-hide(ng-show='col.groupIndex > 0') 0
                  // end ngRepeat: col in columns | ngColumns
   .ngViewport.ng-scope(unselectable='on', ng-viewport='', ng-class="{'ui-widget-content': jqueryUITheme}", ng-style='viewportStyle()', tabindex='3', style='width: 100%; height: 496px;')
      .ngCanvas(ng-style='canvasStyle()')
         // ngRepeat: row in renderedRows
         .ng-scope.ngRow.even(ng-style='rowStyle(row)', ng-repeat='row in renderedRows', ng-click='row.toggleSelected($event)', ng-class='row.alternatingRowClass()', ng-row='', style='top: 0px; height: 30px;')
            // ngRepeat: col in renderedColumns
            .ngCell.col0.colt0(ng-style="{ 'cursor': row.cursor }", ng-repeat='col in renderedColumns', ng-class='col.colIndex()', style='cursor: pointer;')
               .ngVerticalBar.ngVerticalBarVisible(ng-style='{height: rowHeight}', ng-class='{ ngVerticalBarVisible: !$last }', style='height: 30px;') &nbsp;
               | &#x9;
               div(ng-cell='')
                  .ngCellText.ng-scope.col0.colt0(ng-class='col.colIndex()')
                     span.ng-binding(ng-cell-text='') Moroni
            // end ngRepeat: col in renderedColumns
            .ngCell.col1.colt1(ng-style="{ 'cursor': row.cursor }", ng-repeat='col in renderedColumns', ng-class='col.colIndex()', style='cursor: pointer;')
               .ngVerticalBar(ng-style='{height: rowHeight}', ng-class='{ ngVerticalBarVisible: !$last }', style='height: 30px;') &nbsp;
               | &#x9;
               div(ng-cell='')
                  .ngCellText.ng-scope.col1.colt1(ng-class='col.colIndex()')
                     span.ng-binding(ng-cell-text='') 505050505050505000
            // end ngRepeat: col in renderedColumns
         // end ngRepeat: row in renderedRows
         .ng-scope.ngRow.odd(ng-style='rowStyle(row)', ng-repeat='row in renderedRows', ng-click='row.toggleSelected($event)', ng-class='row.alternatingRowClass()', ng-row='', style='top: 30px; height: 30px;')
            // ngRepeat: col in renderedColumns
            .ngCell.col0.colt0(ng-style="{ 'cursor': row.cursor }", ng-repeat='col in renderedColumns', ng-class='col.colIndex()', style='cursor: pointer;')
               .ngVerticalBar.ngVerticalBarVisible(ng-style='{height: rowHeight}', ng-class='{ ngVerticalBarVisible: !$last }', style='height: 30px;') &nbsp;
               | &#x9;
               div(ng-cell='')
                  .ngCellText.ng-scope.col0.colt0(ng-class='col.colIndex()')
                     span.ng-binding(ng-cell-text='') Tiancum
            // end ngRepeat: col in renderedColumns
            .ngCell.col1.colt1(ng-style="{ 'cursor': row.cursor }", ng-repeat='col in renderedColumns', ng-class='col.colIndex()', style='cursor: pointer;')
               .ngVerticalBar(ng-style='{height: rowHeight}', ng-class='{ ngVerticalBarVisible: !$last }', style='height: 30px;') &nbsp;
               | &#x9;
               div(ng-cell='')
                  .ngCellText.ng-scope.col1.colt1(ng-class='col.colIndex()')
                     span.ng-binding(ng-cell-text='') 53
            // end ngRepeat: col in renderedColumns
         // end ngRepeat: row in renderedRows
         .ng-scope.ngRow.even(ng-style='rowStyle(row)', ng-repeat='row in renderedRows', ng-click='row.toggleSelected($event)', ng-class='row.alternatingRowClass()', ng-row='', style='top: 60px; height: 30px;')
            // ngRepeat: col in renderedColumns
            .ngCell.col0.colt0(ng-style="{ 'cursor': row.cursor }", ng-repeat='col in renderedColumns', ng-class='col.colIndex()', style='cursor: pointer;')
               .ngVerticalBar.ngVerticalBarVisible(ng-style='{height: rowHeight}', ng-class='{ ngVerticalBarVisible: !$last }', style='height: 30px;') &nbsp;
               | &#x9;
               div(ng-cell='')
                  .ngCellText.ng-scope.col0.colt0(ng-class='col.colIndex()')
                     span.ng-binding(ng-cell-text='') Jacob
            // end ngRepeat: col in renderedColumns
            .ngCell.col1.colt1(ng-style="{ 'cursor': row.cursor }", ng-repeat='col in renderedColumns', ng-class='col.colIndex()', style='cursor: pointer;')
               .ngVerticalBar(ng-style='{height: rowHeight}', ng-class='{ ngVerticalBarVisible: !$last }', style='height: 30px;') &nbsp;
               | &#x9;
               div(ng-cell='')
                  .ngCellText.ng-scope.col1.colt1(ng-class='col.colIndex()')
                     span.ng-binding(ng-cell-text='') 27
            // end ngRepeat: col in renderedColumns
         // end ngRepeat: row in renderedRows
         .ng-scope.ngRow.odd(ng-style='rowStyle(row)', ng-repeat='row in renderedRows', ng-click='row.toggleSelected($event)', ng-class='row.alternatingRowClass()', ng-row='', style='top: 90px; height: 30px;')
            // ngRepeat: col in renderedColumns
            .ngCell.col0.colt0(ng-style="{ 'cursor': row.cursor }", ng-repeat='col in renderedColumns', ng-class='col.colIndex()', style='cursor: pointer;')
               .ngVerticalBar.ngVerticalBarVisible(ng-style='{height: rowHeight}', ng-class='{ ngVerticalBarVisible: !$last }', style='height: 30px;') &nbsp;
               | &#x9;
               div(ng-cell='')
                  .ngCellText.ng-scope.col0.colt0(ng-class='col.colIndex()')
                     span.ng-binding(ng-cell-text='') Nephi
            // end ngRepeat: col in renderedColumns
            .ngCell.col1.colt1(ng-style="{ 'cursor': row.cursor }", ng-repeat='col in renderedColumns', ng-class='col.colIndex()', style='cursor: pointer;')
               .ngVerticalBar(ng-style='{height: rowHeight}', ng-class='{ ngVerticalBarVisible: !$last }', style='height: 30px;') &nbsp;
               | &#x9;
               div(ng-cell='')
                  .ngCellText.ng-scope.col1.colt1(ng-class='col.colIndex()')
                     span.ng-binding(ng-cell-text='') 29
            // end ngRepeat: col in renderedColumns
         // end ngRepeat: row in renderedRows
         .ng-scope.ngRow.even(ng-style='rowStyle(row)', ng-repeat='row in renderedRows', ng-click='row.toggleSelected($event)', ng-class='row.alternatingRowClass()', ng-row='', style='top: 120px; height: 30px;')
            // ngRepeat: col in renderedColumns
            .ngCell.col0.colt0(ng-style="{ 'cursor': row.cursor }", ng-repeat='col in renderedColumns', ng-class='col.colIndex()', style='cursor: pointer;')
               .ngVerticalBar.ngVerticalBarVisible(ng-style='{height: rowHeight}', ng-class='{ ngVerticalBarVisible: !$last }', style='height: 30px;') &nbsp;
               | &#x9;
               div(ng-cell='')
                  .ngCellText.ng-scope.col0.colt0(ng-class='col.colIndex()')
                     span.ng-binding(ng-cell-text='') Enos
            // end ngRepeat: col in renderedColumns
            .ngCell.col1.colt1(ng-style="{ 'cursor': row.cursor }", ng-repeat='col in renderedColumns', ng-class='col.colIndex()', style='cursor: pointer;')
               .ngVerticalBar(ng-style='{height: rowHeight}', ng-class='{ ngVerticalBarVisible: !$last }', style='height: 30px;') &nbsp;
               | &#x9;
               div(ng-cell='')
                  .ngCellText.ng-scope.col1.colt1(ng-class='col.colIndex()')
                     span.ng-binding(ng-cell-text='') 34
            // end ngRepeat: col in renderedColumns
         // end ngRepeat: row in renderedRows
         .ng-scope.ngRow.odd(ng-style='rowStyle(row)', ng-repeat='row in renderedRows', ng-click='row.toggleSelected($event)', ng-class='row.alternatingRowClass()', ng-row='', style='top: 150px; height: 30px;')
            // ngRepeat: col in renderedColumns
            .ngCell.col0.colt0(ng-style="{ 'cursor': row.cursor }", ng-repeat='col in renderedColumns', ng-class='col.colIndex()', style='cursor: pointer;')
               .ngVerticalBar.ngVerticalBarVisible(ng-style='{height: rowHeight}', ng-class='{ ngVerticalBarVisible: !$last }', style='height: 30px;') &nbsp;
               | &#x9;
               div(ng-cell='')
                  .ngCellText.ng-scope.col0.colt0(ng-class='col.colIndex()')
                     span.ng-binding(ng-cell-text='') Ether
            // end ngRepeat: col in renderedColumns
            .ngCell.col1.colt1(ng-style="{ 'cursor': row.cursor }", ng-repeat='col in renderedColumns', ng-class='col.colIndex()', style='cursor: pointer;')
               .ngVerticalBar(ng-style='{height: rowHeight}', ng-class='{ ngVerticalBarVisible: !$last }', style='height: 30px;') &nbsp;
               | &#x9;
               div(ng-cell='')
                  .ngCellText.ng-scope.col1.colt1(ng-class='col.colIndex()')
                     span.ng-binding(ng-cell-text='') 42
            // end ngRepeat: col in renderedColumns
         // end ngRepeat: row in renderedRows
         .ng-scope.ngRow.even(ng-style='rowStyle(row)', ng-repeat='row in renderedRows', ng-click='row.toggleSelected($event)', ng-class='row.alternatingRowClass()', ng-row='', style='top: 180px; height: 30px;')
            // ngRepeat: col in renderedColumns
            .ngCell.col0.colt0(ng-style="{ 'cursor': row.cursor }", ng-repeat='col in renderedColumns', ng-class='col.colIndex()', style='cursor: pointer;')
               .ngVerticalBar.ngVerticalBarVisible(ng-style='{height: rowHeight}', ng-class='{ ngVerticalBarVisible: !$last }', style='height: 30px;') &nbsp;
               | &#x9;
               div(ng-cell='')
                  .ngCellText.ng-scope.col0.colt0(ng-class='col.colIndex()')
                     span.ng-binding(ng-cell-text='') Alma
            // end ngRepeat: col in renderedColumns
            .ngCell.col1.colt1(ng-style="{ 'cursor': row.cursor }", ng-repeat='col in renderedColumns', ng-class='col.colIndex()', style='cursor: pointer;')
               .ngVerticalBar(ng-style='{height: rowHeight}', ng-class='{ ngVerticalBarVisible: !$last }', style='height: 30px;') &nbsp;
               | &#x9;
               div(ng-cell='')
                  .ngCellText.ng-scope.col1.colt1(ng-class='col.colIndex()')
                     span.ng-binding(ng-cell-text='') 43
            // end ngRepeat: col in renderedColumns
         // end ngRepeat: row in renderedRows
         .ng-scope.ngRow.odd(ng-style='rowStyle(row)', ng-repeat='row in renderedRows', ng-click='row.toggleSelected($event)', ng-class='row.alternatingRowClass()', ng-row='', style='top: 210px; height: 30px;')
            // ngRepeat: col in renderedColumns
            .ngCell.col0.colt0(ng-style="{ 'cursor': row.cursor }", ng-repeat='col in renderedColumns', ng-class='col.colIndex()', style='cursor: pointer;')
               .ngVerticalBar.ngVerticalBarVisible(ng-style='{height: rowHeight}', ng-class='{ ngVerticalBarVisible: !$last }', style='height: 30px;') &nbsp;
               | &#x9;
               div(ng-cell='')
                  .ngCellText.ng-scope.col0.colt0(ng-class='col.colIndex()')
                     span.ng-binding(ng-cell-text='') Jared
            // end ngRepeat: col in renderedColumns
            .ngCell.col1.colt1(ng-style="{ 'cursor': row.cursor }", ng-repeat='col in renderedColumns', ng-class='col.colIndex()', style='cursor: pointer;')
               .ngVerticalBar(ng-style='{height: rowHeight}', ng-class='{ ngVerticalBarVisible: !$last }', style='height: 30px;') &nbsp;
               | &#x9;
               div(ng-cell='')
                  .ngCellText.ng-scope.col1.colt1(ng-class='col.colIndex()')
                     span.ng-binding(ng-cell-text='') 21
            // end ngRepeat: col in renderedColumns
         // end ngRepeat: row in renderedRows
         .ng-scope.ngRow.even(ng-style='rowStyle(row)', ng-repeat='row in renderedRows', ng-click='row.toggleSelected($event)', ng-class='row.alternatingRowClass()', ng-row='', style='top: 240px; height: 30px;')
            // ngRepeat: col in renderedColumns
            .ngCell.col0.colt0(ng-style="{ 'cursor': row.cursor }", ng-repeat='col in renderedColumns', ng-class='col.colIndex()', style='cursor: pointer;')
               .ngVerticalBar.ngVerticalBarVisible(ng-style='{height: rowHeight}', ng-class='{ ngVerticalBarVisible: !$last }', style='height: 30px;') &nbsp;
               | &#x9;
               div(ng-cell='')
                  .ngCellText.ng-scope.col0.colt0(ng-class='col.colIndex()')
                     span.ng-binding(ng-cell-text='') Moroni
            // end ngRepeat: col in renderedColumns
            .ngCell.col1.colt1(ng-style="{ 'cursor': row.cursor }", ng-repeat='col in renderedColumns', ng-class='col.colIndex()', style='cursor: pointer;')
               .ngVerticalBar(ng-style='{height: rowHeight}', ng-class='{ ngVerticalBarVisible: !$last }', style='height: 30px;') &nbsp;
               | &#x9;
               div(ng-cell='')
                  .ngCellText.ng-scope.col1.colt1(ng-class='col.colIndex()')
                     span.ng-binding(ng-cell-text='') 50
            // end ngRepeat: col in renderedColumns
         // end ngRepeat: row in renderedRows
   .ng-scope(ng-grid-footer='')
      .ngFooterPanel.ng-scope(ng-show='showFooter', ng-class="{'ui-widget-content': jqueryUITheme, 'ui-corner-bottom': jqueryUITheme}", ng-style='footerStyle()', style='width: 100%; height: 55px;')
         .ngTotalSelectContainer
            .ngFooterTotalItems.ngNoMultiSelect(ng-class="{'ngNoMultiSelect': !multiSelect}")
               span.ngLabel.ng-binding Total Items: 21050
               span.ngLabel.ng-binding.ng-hide(ng-show='filterText.length > 0') (Showing Items: 21050)
            .ngFooterSelectedItems.ng-hide(ng-show='multiSelect')
               span.ngLabel.ng-binding Selected Items: 0
         .ngPagerContainer.ngNoMultiSelect(style='float: right; margin-top: 10px;', ng-show='enablePaging', ng-class="{'ngNoMultiSelect': !multiSelect}")
            .ngRowCountPicker(style='float:left; margin-right: 10px;')
               span.ngLabel.ng-binding(style='float: left; margin-top: 3px;') Page Size:
               select.ng-pristine.ng-untouched.ng-valid(style='float: left;height: 27px; width: 100px', ng-model='pagingOptions.pageSize')
                  // ngRepeat: size in pagingOptions.pageSizes
                  option.ng-binding.ng-scope(ng-repeat='size in pagingOptions.pageSizes', value='5') 5
                  // end ngRepeat: size in pagingOptions.pageSizes
                  option.ng-binding.ng-scope(ng-repeat='size in pagingOptions.pageSizes', value='10') 10
                  // end ngRepeat: size in pagingOptions.pageSizes
                  option.ng-binding.ng-scope(ng-repeat='size in pagingOptions.pageSizes', value='15') 15
                  // end ngRepeat: size in pagingOptions.pageSizes
                  option.ng-binding.ng-scope(ng-repeat='size in pagingOptions.pageSizes', value='20') 20
                  // end ngRepeat: size in pagingOptions.pageSizes
            .ngPagerControl(style='float:left; margin-right: 10px; line-height:25px;')
               button.ngPagerButton(ng-click='pageToFirst()', ng-disabled='cantPageBackward()', title='First Page', disabled='disabled')
                  .ngPagerFirstTriangle
                     .ngPagerFirstBar
               button.ngPagerButton(ng-click='pageBackward()', ng-disabled='cantPageBackward()', title='Previous Page', disabled='disabled')
                  .ngPagerFirstTriangle.ngPagerPrevTriangle
               input.ngPagerCurrent.ng-pristine.ng-untouched.ng-valid.ng-valid-min.ng-valid-max(min='1', max='2105', type='number', style='width:50px; height: 24px; margin-top: 1px; padding: 0 4px;', ng-model='pagingOptions.currentPage')
               button.ngPagerButton(ng-click='pageForward()', ng-disabled='cantPageForward()', title='Next Page')
                  .ngPagerLastTriangle.ngPagerNextTriangle
               button.ngPagerButton(ng-click='pageToLast()', ng-disabled='cantPageToLast()', title='Last Page')
                  .ngPagerLastTriangle
                     .ngPagerLastBar
