.input-ng-datepicker.clearfix
  span.btn.ng-datepicker-btn
    i.icon.i-calculator
  //- input.form-control(type='text', datepicker-popup='',show-button-bar="false", ng-model='dt', is-open='opened', min-date='minDate', datepicker-options='dateOptions', ng-required='true', close-text='Close')
  //- input.form-control(type='text', datepicker-popup='{{format}}', ng-model='dt', is-open='opened', min-date='minDate', max-date="'2015-06-22'", datepicker-options='dateOptions', date-disabled='disabled(date, mode)', ng-required='true', close-text='Close')
  input.form-control(type='text', name="birthdate", value="06/01/2015")
  //- #reportrange.pull-right.form-control
    //- i.glyphicon.glyphicon-calendar.fa.fa-calendar
    span
    //- b.caret