head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')

  link(rel='shortcut icon', href='favicon/favicon.ico', type='web/image/pngIllegal return statement')

  block head
  title= pageTitle
  meta(name='description' content=pageDescription)
  meta(name='keywords' content=pageKeywords)
  meta(name='copyright' content=pageCopyright)

  block css
    // bower_components__styles
    link(href='bower_components/ng-grid-bower/ng-grid.min.css', rel='stylesheet')
    link(href='bower_components/ngDialog/css/ngDialog.min.css', rel='stylesheet')
    link(href='bower_components/ngDialog/css/ngDialog-theme-default.min.css', rel='stylesheet')
    link(href='bower_components/ngDialog/css/ngDialog-theme-plain.min.css', rel='stylesheet')
    //- link(href='bower_components/ng-tags-input/ng-tags-input-custom.css', rel='stylesheet')
    link(href='bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css', rel='stylesheet')
    // end bower_components__styles

    // main__styles
    link(href='css/ng-grid.css', rel='stylesheet')
    link(href='css/ng-tags-input-custom.css', rel='stylesheet')
    link(href='css/bootstrap.css', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css')
    link(href='css/style.css', rel='stylesheet')


    // end  main__styles
  block js
    // bower_components__js
    script(src='bower_components/modernizr/modernizr.js')
    script(src='bower_components/respond/dest/respond.min.js')
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.min.js')
    script(src='bower_components/angular/angular.min.js')
    //- script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js')
    script(src='bower_components/ng-grid-bower/ng-grid.debug.js')
    script(src='bower_components/ng-tags-input/ng-tags-input.js')
    script(src='bower_components/ngDialog/js/ngDialog.min.js')
    script(src='bower_components/ng-file-upload/ng-file-upload-all.min.js')
    //- script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js')

    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='bower_components/moment/min/moment.min.js')
    script(src='bower_components/bootstrap-daterangepicker/daterangepicker.js')
    script(src='bower_components/jcf/js/jcf.js')
    script(src='bower_components/jcf/js/jcf.select.js')
    // end bower_components__js

    // main__js
    script(src='js/main.js')
    // end main__js
