.ngHeaderCell(ng-style='{ height: col.headerRowHeight }', ng-repeat='col in renderedColumns', ng-class='col.colIndex()')
  .ngVerticalBar(ng-style='{height: col.headerRowHeight}', ng-class='{ ngVerticalBarVisible: !$last }')  
  .ngHeaderSortColumn(ng-style="{'cursor': col.cursor}", ng-class="{ 'ngSorted': !noSortVisible }", class='{{col.headerClass}}')
    .ngHeaderText(ng-click='col.sort($event)', ng-class="'colt' + col.index")
      .active_col(ng-show='col.showSortButtonDown() || col.showSortButtonUp()')
      span.tbcell__text(ng-if='!showSelectionCheckbox || col.index !== 0') {{col.displayName}}
      div(ng-if='showSelectionCheckbox && col.index === 0', class='{{col.headerClass}}', ng-style='{cursor: col.cursor}', style='margin-top: 4px; margin-left: -4px;')
        input.ngSelectionCheckbox.ngChkHeader(type='checkbox', ng-show='multiSelect', ng-model='allSelected', ng-change='toggleSelectAll(allSelected)')
      .ngSortButtonDown(ng-show='col.showSortButtonDown()')
      .ngSortButtonUp(ng-show='col.showSortButtonUp()')
      .activ-tc__bg
    .ngSortPriority {{col.sortPriority}}
    div(ng-class='{ ngPinnedIcon: col.pinned, ngUnPinnedIcon: !col.pinned }', ng-click='togglePin(col)', ng-show='col.pinnable')
  .ngHeaderGrip(ng-show='col.resizable', ng-click='col.gripClick($event)', ng-mousedown='col.gripOnMouseDown($event)')
