header.main-header.js-header__ht
  .navbar-top.clearfix
    .container
      .row
        .col-xs-6
          a#menu-toggle.sb-toggle-left(href='#menu-toggle')
            .menu_icon
              .navicon-line
              .navicon-line
              .navicon-line
          h1.logo-wrapper
            a.logo(href='index.html')
              img(src='img/logo.png', alt='').img-responsive
        block authorisedMenu
          .col-xs-6.authorisation__menu
            .authorisation__menu_authorised
              .user-alerts-wr
                .dropdown.user-alerts__dropdown
                  a.icon.i-bell.i-bell_empty(data-target='#', href='#', data-toggle='dropdown', aria-haspopup='true', role='button', aria-expanded='false')
                  .dropdown-menu.user-alerts__menu(role='menu', aria-labelledby='dLabel', data-toggle='no-collapse')
                    .notifications_dd
                      | notifications
                    ul
                      li.alert.fade.in(role='alert')
                        button.close(type='button', data-dismiss='alert', aria-label='Close')
                          span(aria-hidden='true') &times;
                        p.alert__massage-error Payment Error - Account No. 647885900
                      li.alert.fade.in(role='alert')
                        button.close(type='button', data-dismiss='alert', aria-label='Close')
                          span(aria-hidden='true') &times;
                        p.alert__massage-edded New payment was added.
                      li.alert.fade.in(role='alert')
                        button.close(type='button', data-dismiss='alert', aria-label='Close')
                          span(aria-hidden='true') &times;
                        p.alert__massage-approved Payment No.123456 is approved.
                      li.alert.fade.in(role='alert')
                        button.close(type='button', data-dismiss='alert', aria-label='Close')
                          span(aria-hidden='true') &times;
                        p.alert__massage-approved Your password was recently updated. Please complete your security questions.

                span.badge.alert-count 46
              .user-avatar-wr
                a(href="").user-avatar
                  img(src="img/no-user-photo.png", alt="")
                .user-status.user-status_avatar
              .dropdown.user-dropdown
                a#dLabel.user-dropdown__btn(data-target='#', href='#', data-toggle='dropdown', aria-haspopup='true', role='button', aria-expanded='false')
                  span.user-name James K.
                  span.icon.i-arrow-bottom.user-dropdown__carret
                .dropdown-menu.user-dropdown__menu(role='menu', aria-labelledby='dLabel')
                  .dropdown__user-status
                    a(href="")
                      .user-status.user-status_dd
                      | Account Verification
                  ul
                    li
                      a(href="company-details.html")
                        i.icon.i-personal-information
                        | Personal Information
                    li
                      a(href="company-details.html")
                        i.icon.i-mobile-phone
                        | Mobile Phone
                    li
                      a(href="company-details.html")
                        i.icon.i-id-information
                        | Id Information
                    li
                      a(href="company-details.html")
                        i.icon.i-change-password
                        | Change Password
                    //- li
                    //-   a(href="company-details.html")
                    //-     i.icon.i-bankdetails
                    //-     | Bank Details
                    li
                      a(href="company-details.html")
                        i.icon.i-log-out-i
                        | Log Out
