block link
  -var selected = 'dashboard'; //default

aside#sidebar-wrapper
  nav
    ul.sidebar-nav
      - if (selected == 'profile')
        +nav_item( "profile.html", "active" )
          span.icon
            span.profile-img__wr
              img(src="img/profil-img.png", alt="")
              .user-status.user-status_avatar.user-status_new-reg
          | James K
      - else
        +nav_item( "profile.html" )
          span.icon
            span.profile-img__wr
              img(src="img/profil-img.png", alt="")
              .user-status.user-status_avatar.user-status_new-reg
          | James K

      - if (selected == 'dashboard')
        +nav_item( "index.html", "active" )
          i.icon.i-dash-i
          | Dashboard
      - else
        +nav_item( "index.html" )
          i.icon.i-dash-i
          | Dashboard

      - if (selected == 'cards')
        +nav_item( "cards.html", "active" )
          i.icon.i-cards-i
          | Cards
      - else
        +nav_item( "cards.html" )
          i.icon.i-cards-i
          | Cards

      - if (selected == 'send')
        +nav_item( "send-money.html", "active" )
          i.icon.i-send-i
          | Send Money
      - else
        +nav_item( "send-money.html" )
          i.icon.i-send-i
          | Send Money

      - if (selected == 'companies')
        +nav_item( "companies.html", "active" )
          i.icon.i-companies-i
          | Companies
      - else
        +nav_item( "companies.html" )
          i.icon.i-companies-i
          | Companies

      - if (selected == 'reports')
        +nav_item( "reports.html", "active" )
          i.icon.i-reporters-i
          | Reports
      - else
        +nav_item( "reports.html" )
          i.icon.i-reporters-i
          | Reports

      - if (selected == 'support')
        +nav_item( "support.html", "active" )
          i.icon.i-support-i
          | Support
      - else
        +nav_item( "support.html" )
          i.icon.i-support-i
          | Support

      - if (selected == 'social')
        +nav_item( "social.html", "active" )
          i.icon.i-social-i
          | Social
      - else
        +nav_item( "social.html" )
          i.icon.i-social-i
          | Social

      - if (selected == 'log_out')
        +nav_item( "log-out.html", "active" )
          i.icon.i-log-out-i
          | Log Out
      - else
        +nav_item( "log-out.html" )
          i.icon.i-log-out-i
          | Log Out
