extends ../layouts/default
block head
- pageTitle = 'Prego Payout';
block link
   -var selected = "payout";

block ng
  - var ngApp = "myApp";
  - var ngController = "MyCtrl3";


block append js
  script(src='js/ng-payout-new.js')


block content
  .container
    .row
      .col-md-6
        h2.page-title New Payout
      .col-md-6
        .btn-group_horizontal.btn-group_right
          button.btn.btn-primary(type='button', data-toggle='modal', data-target='#inviteNewPayout')
            | New Payout
    .min-section.min-section__br-bg.min-section__pd
      .main-filter-block
        form.form-horizontal
          .row
            .col-lg-5
              .form-group
                label.control-label.col-lg-3 Reference:
                .col-lg-9
                  input(type="text", value="April 2015 Bonus Payment").form-control
              .form-group
                label.control-label.col-lg-3 Payment Run Date:
                .col-lg-9
                  .datetimepickerFrom.input-group.date
                    input(type="text", value="28/01/2015 - 03/02/2015").form-control
                    span.input-group-addon
                      i.icon.i-calculator
            .col-lg-3.col-lg-offset-1
              .form-group
                .col-lg-12
                  .main-filter-block__counter
                    | Members:
                    strong 15
              .form-group
                .col-lg-12
                  .main-filter-block__counter
                    |  Total Amount:
                    strong  $10.374.00
            .col-lg-3
              .btn-group_horizontal.btn-group_right.upload-payout-list__wr
                button.btn.btn-primary(type='button')
                  | Upload Payout List
      .row
        .col-md-5.min-section
          h4.min-title All Members
          .row.filter-input__wr
            .col-md-7
              .form-group.filter-input.filter-input_right
                input.form-control#inputSuccess2(type="text", aria-describedby="inputSuccess2Status", placeholder="Search members")
                span.icon.i-search.form-control-feedback(aria-hidden="true")
            .col-md-5
              a(href="").filter-input__btn
                i.icon.i-plus
                | Add Selected
          .gridStyle(ng-grid="gridOptions1")
        .col-md-6.col-md-offset-1.min-section
          h4.min-title Member in Payout
          .row.filter-input__wr
            .col-md-7
              .form-group.filter-input.filter-input_right
                input.form-control#inputSuccess2(type="text", aria-describedby="inputSuccess2Status", placeholder="Search members")
                span.icon.i-search.form-control-feedback(aria-hidden="true")
            .col-md-5
              a(href="").filter-input__btn
                i.icon.i-trash
                | Remove Selected
          .gridStyle(ng-grid="gridOptions2")

      .btn-group_horizontal.btn-group_right
          button.btn.btn-primary(type='button')
            | Save
          button.btn.btn-primary(type='button')
            | Approve
          a(href="payout.html").btn.btn-default(type='button')
            | Cancel