.form-group
  .col-lg-12
    strong Personal details

.row
  label.control-label.col-lg-4 Your name
  .col-lg-8
    .row
      .form-group__inner.col-lg-6
        input(type="text", value="", placeholder="First name").form-control
      .form-group__inner.col-lg-6
        input(type="text", value="", placeholder="Last name").form-control
.row
  label.control-label.col-lg-4 Date of Brith
  .col-lg-8
    .row
      .form-group__inner.col-lg-4
        select.form-control(selectpicker)
          option(value="0") 0
          option(value="1") 1
          option(value="2") 2
          option(value="3") 3
      .form-group__inner.col-lg-4
        select.form-control(selectpicker)
          option(value="0") 0
          option(value="1") 1
          option(value="2") 2
          option(value="3") 3
      .form-group__inner.col-lg-4.has-success.has-feedback
        select.form-control(selectpicker)
          option(value="0") 0
          option(value="1") 1
          option(value="2") 2
          option(value="3") 3
        span.help-block.help-blok__message
          | Success!!!!
    //- include ../blocks/datepicer-single
.form-group.has-success.has-feedback
  label.control-label.col-lg-4 Email
  .col-lg-8
    input(type="email", value="example@mail.ru").form-control
    span.help-block.help-blok__message
      | Success!!!!
.form-group
  label.control-label.col-lg-4 Gender
  .col-lg-8
    select.form-control(selectpicker)
      option(value="0") Male
      option(value="1") Famale
.form-group
  label.control-label.col-lg-4 Nationality
  .col-lg-8
    select.form-control(selectpicker)
      option(value="0") 0
      option(value="1") 1

hr.hr-margin-bottom

.form-group
  .col-lg-12
    strong Contact Details

.form-group
  label.control-label.col-lg-4 Adress 1
  .col-lg-8
    input(type="text", value="").form-control
.form-group
  label.control-label.col-lg-4 Adress 2
  .col-lg-8
    input(type="text", value="").form-control
.row
  .col-lg-8.col-lg-offset-4
    .row
      .form-group__inner.col-lg-4
        input(type="text", value="", placeholder="City").form-control
      .form-group__inner.col-lg-4
        input(type="text", value="", placeholder="Post Code").form-control
      .form-group__inner.col-lg-4
        input(type="text", value="", placeholder="Country").form-control

hr.hr-margin-bottom

.form-group
  .col-lg-12
    strong Shipping Address

.form-group
  label.control-label.col-lg-4 Adress 1
  .col-lg-8
    input(type="text", value="").form-control
.form-group
  label.control-label.col-lg-4 Adress 2
  .col-lg-8
    input(type="text", value="").form-control
.row
  .col-lg-8.col-lg-offset-4
    .row
      .form-group__inner.col-lg-4.has-error.has-feedback
        input(type="text", value="", placeholder="City").form-control
        span.help-block.help-blok__message
          | Error Error Error Error Error Error Error Error!!!!
      .form-group__inner.col-lg-4
        input(type="text", value="", placeholder="Post Code").form-control
      .form-group__inner.col-lg-4
        input(type="text", value="", placeholder="Country").form-control
.form-group
  .col-lg-offset-4.col-lg-8
    .checkbox
      label
        input(type='checkbox')
        | Use same address as contact details