.right-form-caption-block__wr
  .sign-up-caption
    h3.sign-up-caption__title Lorem Ipsum
    .sign-up-caption__body
      p We  want to have the possibility to add some information here and have more freedom in this section, see example here: 
      a(href="") http://www.pregoint.com/about-us/company-mission-values
      ul
        li Have the possibility to add text with bullet points.
        li Make Bullet points with blue marker like example here.